<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中国冰酒交易网</title>
<link type="text/css" href="../Css/Base.css" rel="stylesheet" />
<link type="text/css" href="../Css/Layout.css" rel="stylesheet" />
<link href="../Css/Copyright.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../Js/Common.js"></script>
</head>

<body>
<!--header begin-->
<!--未登陆 begin-->
<div class="top_out login_q">
    <div class="top-1">
        <div class="top-1-L fl">
        	欢迎访问中国网库
            <a href="#" class="login mr5 mL10" id="t_login">登陆</a>|
            <a href="#" class="regist">注册</a>
        </div>
        <ul class="top-1-R fr topMenu">
            <li>
                <div class="snMenu topMuneList">
                    <a href="#" class="topTwoBorder"><span class="buy_order_icon"></span><span class="spanB">我的进货单</span><b></b></a>	
                    <!--我的进货单 start -->
                    <div class="shoppingList topMuneListCon ">
                        <div class="shoppingListCon">
                            <p><a href="#">恰恰牌原味香瓜籽</a></p>
                            <span class="num"><a  class="btn_jian">-</a><input id="numVal" type="text" value="1"   max="50" min ="1" class="text_input"/><a  class="btn_jia">+</a></span>
                            <div class="end"></div>
                        </div>
                        <div class="shoppingListCon">
                            <p>恰恰牌原味香瓜籽</p>
                             <span class="num"><a  class="btn_jian">-</a><input id="numVal" type="text" value="1"   max="50" min ="1" class="text_input"/><a  class="btn_jia">+</a></span>
                            <div class="end"></div>
                        </div>
                        <div class="shoppingListCon">
                            <p>恰恰牌原味香瓜籽</p>
                             <span class="num"><a  class="btn_jian">-</a><input id="numVal" type="text" value="1"   max="50" min ="1" class="text_input"/><a  class="btn_jia">+</a></span>
                            <div class="end"></div>
                        </div>
                        <div class="toSet"><a href="#">去结算</a></div>
                    </div>
                    <!--我的进货单  end -->
                    <!--进货单中暂未添加任何货品 start -->
                    <div class="shoppingListno topMuneListCon show1">
                    	<p>进货单中暂未添加任何货品</p> 
                        <a href="#">查看进货单</a> 
                    </div>
                    <!--进货单中暂未添加任何货品 end -->
                </div>
            </li>
            <li>
                <div class="snMenu topMuneList">
                    <a href="#" class="topTwoBorder"><span class="spanB">会员中心</span><b></b></a>
                    <!--会员中心1 start -->
                    <div class="topBuyCno topMuneListCon show1 ">
                         <div class="fl topbuycon">
                         	<p>卖家</p>
                            <ul>
                            	<li><a href="#">发布供应</a></li>
                                <li><a href="#">已卖出的商品</a></li>
                                <li><a href="#">店铺管理</a></li>
                            </ul>
                         </div>
                         <div class="fl topbuycon">
                         	<p>买家</p>
                            <ul>
                            	<li><a href="#">发布采购</a></li>
                                <li><a href="#">已买到的商品</a></li>
                            </ul>
                         </div>
                    </div>
                    <!--会员中心1 end -->
                    <!--会员中心2 start -->
                    <div class="topBuyC topMuneListCon ">
                         <a href="#">订单管理</a>
                    </div>
                    <!--会员中心2 end -->
                </div>
            </li>
            <li> 
            	<div class="snMenu topMuneList">
                    <a href="#" class="topTwoBorder"><span class="spanB">服务中心</span><b></b></a>
                    <div class="topBuyC topMuneListCon show1">
                            <a href="#">单品通</a>
                            <a href="#">行业通</a>
                    </div>
                </div>
             </li>
            <li class="topWeibo"><iframe width="103" height="24" frameborder="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&amp;width=136&amp;height=24&amp;uid=3956076947&amp;style=2&amp;btn=red&amp;dpc=1" border="0" marginheight="0" marginwidth="0" allowtransparency="true" scrolling="no"></iframe>
</li>
        </ul>
    </div>
</div>
<!--未登陆 end-->
<!--登陆后 begin-->
<div class="top_out disNo login_h">

    <div class="top-1">
        <div class="top-1-L fl"><span>小陈,</span>您好,欢迎登录中国网库<a href="#" class="regist mL10">[退出]</a>
        	<div class="loginTs">
            	<div class="loginTsCon">
                    <div class="tsCls"></div>
                    <p>尊敬的单品通会员，您已成功登录本站<br />
<a href="#">快速进入会员中心</a></p>
                </div>
                <div class="loginTsIcon"></div>
            </div>
        </div>
        <ul class="top-1-R fr topMenu">
            <li>
                <div class="snMenu topMuneList">
                    <a href="#" class="topTwoBorder"><span class="buy_order_icon"></span><span class="spanB">我的进货单</span><b></b></a>
                    <!--我的进货单 start -->
                    <div class="shoppingList topMuneListCon show1">
                        <div class="shoppingListCon">
                            <p><a href="#">恰恰牌原味香瓜籽</a></p>
                            <span class="num"><a  class="btn_jian">-</a><input id="numVal" type="text" value="1"   max="50" min ="1" class="text_input"/><a  class="btn_jia">+</a></span>
                            <div class="end"></div>
                        </div>
                        <div class="shoppingListCon">
                            <p>恰恰牌原味香瓜籽</p>
                             <span class="num"><a  class="btn_jian">-</a><input id="numVal" type="text" value="1"   max="50" min ="1" class="text_input"/><a  class="btn_jia">+</a></span>
                            <div class="end"></div>
                        </div>
                        <div class="shoppingListCon">
                            <p>恰恰牌原味香瓜籽</p>
                             <span class="num"><a  class="btn_jian">-</a><input id="numVal" type="text" value="1"   max="50" min ="1" class="text_input"/><a  class="btn_jia">+</a></span>
                            <div class="end"></div>
                        </div>
                        <div class="toSet"><a href="#">去结算</a></div>
                    </div>
                    <!--我的进货单  end -->
                    <!--进货单中暂未添加任何货品 start -->
                    <div class="shoppingListno topMuneListCon show2">
                    	<p>进货单中暂未添加任何货品</p> 
                        <a href="#">查看进货单</a> 
                    </div>
                    <!--进货单中暂未添加任何货品 end -->
                </div>
            </li>
            <li>
                <div class="snMenu topMuneList">
                    <a href="#" class="topTwoBorder"><span class="spanB">会员中心</span><b></b></a>
                    <!--会员中心1 start -->
                    <div class="topBuyCno topMuneListCon show2">
                         <div class="fl topbuycon">
                         	<p>卖家</p>
                            <ul>
                            	<li><a href="#">发布供应</a></li>
                                <li><a href="#">已卖出的商品</a></li>
                                <li><a href="#">店铺管理</a></li>
                            </ul>
                         </div>
                         <div class="fl topbuycon">
                         	<p>买家</p>
                            <ul>
                            	<li><a href="#">发布采购</a></li>
                                <li><a href="#">已买到的商品</a></li>
                            </ul>
                         </div>
                    </div>
                    <!--会员中心1 end -->
                    <!--会员中心2 start -->
                    <div class="topBuyC topMuneListCon show1">
                         <a href="#">订单管理</a>
                    </div>
                    <!--会员中心2 end -->
                </div>
            </li>
            <li class="li_height"><a href="#">消息中心（<span class="fontOrange">5条未读</span>）</a></li>
            <li> 
            	<div class="snMenu topMuneList">
                    <a href="#" class="topTwoBorder"><span class="spanB">服务中心</span><b></b></a>
                    <div class="topBuyC topMuneListCon show2">
                            <a href="#">单品通</a>
                            <a href="#">行业通</a>
                    </div>
                </div>
             </li>
            <li class="topWeibo"><iframe width="103" height="24" frameborder="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&amp;width=136&amp;height=24&amp;uid=3956076947&amp;style=2&amp;btn=red&amp;dpc=1" border="0" marginheight="0" marginwidth="0" allowtransparency="true" scrolling="no"></iframe>
</li>
        </ul>
    </div>
</div>
<!--登陆后 end-->
<div class="cls"></div>
<!--头部开始-->
<div id="top">
   <div class="wrapper">
        <div class="top-2">
        	<div class="logo floatL"><a href="#"><img src="../Temp/logo.jpg" alt="" /></a></div>
            <div class="search floatL tags">
                <div class="sear_box">
                    <div class="tabTitleSecach search-tabTitle">
                        <ul id="tabul">
                            <li class="on"><a href="javascript://" onclick="javaScript:loadSearch.setIndex(0,'on');">供应</a></li>
                            <li class=""><a href="javascript://" onclick="javaScript:loadSearch.setIndex(1,'on');">求购</a></li>
                            <li class=""><a href="javascript://" onclick="javaScript:loadSearch.setIndex(2,'on');">公司</a></li>
                            <li class=""><a href="javascript://" onclick="javaScript:loadSearch.setIndex(3,'on');">招商</a></li>
                            <li class=""><a href="javascript://" onclick="javaScript:loadSearch.setIndex(4,'on');">资讯</a></li>
                        </ul>
                    </div>
                    <div class="tabBody search-tabBody">
                        <div style="display: block;" class="none block">
                            <div class="so">
                                <input id="txtSearchKey" name="" class="searchWord floatl" value="请输入您感兴趣的内容" onblur="if(this.value=='') this.value='请输入您感兴趣的内容';" onclick="if(this.value == '请输入您感兴趣的内容') this.value='';" type="text"/>
                                <input id="btnSearch" name="" class="searchBut floatl ml10" value="找供应" type="button"/>
                            </div>     
                            <span class="hot"><span>热搜品种：</span><a href="#">赛美容</a>&nbsp;&nbsp;<a href="#">美乐</a>&nbsp;&nbsp;<a href="#" class="now">赤霞珠</a>&nbsp;&nbsp;<a href="#">梅鹿辄</a>&nbsp;&nbsp;<a href="#">西拉</a>&nbsp;&nbsp;<a href="#">其他</a> </span>
                        </div>
                    </div>
                </div>
              </div>
            <script type="text/javascript">
                var loadSearch = new loadTopSearch("loadSearch");
                loadSearch.txtObj = $d("txtSearchKey");
                loadSearch.btnObj = $d("btnSearch");
                loadSearch.tabDiv = $d("tabul");
                loadSearch.isTabSearch =true;
                loadSearch.createHTML("on");
                loadSearch.initEvents();// 控件添加事件
        </script> 
            <div class="tell floatR">
                <div class="tellText">400-651-5888</div>
              
            </div>
        </div>
    </div>
</div>
<div class="nav">
 <div class="w1000" id="Nav">
           <ul class="Navbg"> <li class="PtCategories" id="all_goods" ><div class="fenlei_t"><h3>冰酒分类</h3>
        <div class="menuNav" id="menuNav" style="display:none;">
        	<dl><dt><label>品牌：</label><a href="#"></a></dt>        
     
                <dd><a href="Supply/Detail.html">祁连</a><a href="#">果园</a><a href="#">诚润</a>
                <a href="#">酒之家</a><a href="#">通化恒通</a><a href="#">松阳</a><a href="#">晟通</a></dd>
            </dl>
            <dl><dt><label>产地：</label><a href="#"></a></dt>
                <dd><a href="Supply/Detail.html">黑龙江</a><a href="#">河北</a><a href="#">河南</a>
                <a href="Supply/Detail.html">吉林</a><a href="#">湖南</a><a href="#">湖北</a><a href="#">广东</a><a href="#">深圳</a><a href="#">上海</a><a href="#">大连</a><a href="#">重庆</a><a href="#">南京</a><a href="#">其他</a></dd>
            </dl>
            <dl><dt><label>品种：</label><a href="#"></a></dt>      
      
                <dd><a href="Supply/Detail.html">赛美容</a><a href="#">美乐</a><a href="#"蛇龙珠></a><a href="#"贵人香></a><a href="#">赤霞珠</a><a href="#">梅鹿辄</a><a href="#">西拉</a>
                <a href="Supply/Detail.html">其它</a></dd>
            </dl>
            <dl><dt><label>价格：</label><a href="#"></a></dt>  
                <dd><a href="Supply/Detail.html">40-100元</a><a href="#">100-200元</a></dd>
            </dl>
        </div>
	</div> 
        	</li>
            <li><a class="on" href="../Index.html">首 页</a></li>
        <li><a href="../Index.html">产品供应</a></li>
        <li><a href="../Buy/Index.html">产品求购</a></li>
        <li><a href="../Information/index.html">会员加盟</a></li>
        <li><a href="../Corporation/index.html">企业会员</a></li>
        
        <li><a href="../Article1/index.html">行业资讯</a><div class="new"></div></li>
        
            
            </ul>
 </div>
</div>
<!--头部结束-->

<div class="wrapper">
<!-- 当前位置 -->
      <div class="location">
          <h6>您的当前位置：<a href="../Index.html">中国冰酒交易网</a></h6>
          <span><a href="Detail.html">红冰酒</a> 白冰酒 桃红冰酒 起泡酒</span>
      </div>
    <!-- 当前位置 -->   
</div>
<div class="wrapper">
		<div class="copyright_left mr10 floatl">
    <div class="copyright_left_title"><img src="../Images/Copyright/menu_top.gif" width="207" height="10" alt="" /></div>
             <div class="copyright_left_center">
            	<span class="floatl"><img src="../Images/Copyright/menu_left.gif" width="2" height="440" alt="" /></span>
                <div class="copyright_menu floatl">
                	<ul class="copymenu ml10">
                    <li class="litit">关于我们</li>
                    	<li><a href="AboutUs.html">关于冰酒交易网</a><span>About Us</span></li>
                        <li><a href="ContactUs.html">联系我们</a><span>Contact Us</span></li>
                        <li><a href="Ly.html">客户留言板</a><span>Message Board</span></li>
                        <li><a href="Job.html">诚聘英才</a><span>Job</span></li>
                        <li><a href="Privacy.html">隐私策略</a><span>Message Board</span></li>
                    <li class="litit">商务合作</li>
                        <li class="menudown"><a href="Ad.html">广告招商</a><span>Advertising</span></li>
                        <li><a href="Link.html">友情链接</a><span>Links</span></li>
                    </ul>   
                </div>
                <span class="floatr"><img src="../Images/Copyright/menu_right.gif" width="2" height="440" alt="" /></span>
                <div class="cls"></div>
            </div>
        </div>
      <div class="copyright_right floatr">
       	<div class="copyright_right_title ">
		 	<h1>广告招商</h1>
		
		</div>
        <div class="copyright_xian">
        <p><img  src="../Images/Copyright/top.jpg" alt="" /></p>
        <p class="copyright_zi">中国冰酒交易网是一家专业的B2B电子商务服务企业，通过创新电子商务服务，为企业提供依托互联网开展市场营销和产品推广的行业通会员服务，以及整合网络营销的行业解决方案&mdash;品类网项目，帮助企业在互联网上轻松开拓销售渠道并提供营销效率。<br />
    公司成立于1999年，从网络黄页业务（网库黄页）起步，2005年开始依托原来的黄页数据库企业会员开展电子商务业务，为企业提供基于行业上下游产业链的B2B电子商务服务。2006年开始中国电子商务协会、中国互联网协会、全国组织机构代码管理中心等10家权威机构发起成立"中国行业网联盟"，通过构建行业电子商务网站群，创造了传统产业与电子商务结合的最佳商业模式。进而推动电子商务在各地区、各行业的深入应用与发展。，2007年，公司发起建立了中国电子商务协会企业网络应用推进工作委员会并且被授权成为承办单位，与社会各界携手推动电子商务在各地区、各行业的深入应用与发展。<br />
    今天，网库公司已经成为内贸B2B电子商务领域领先的服务商，为全国80万家企业提供B2B电子商务服务，在有140余家代理运营中心实现本地化运营与服务，拥有各地方运营人员超过2700名，是全国市场渠道布局最广的B2B电子商务公司之一。目前国内B2B平台运营商排名前6名。<br />
    公司电子商务平台 （www.99114.com）上线运营已超过11年，平台承载着全国各地114分站、行业电子商务门户、扎根细分市场的品类交易平台超过3000个，实现了原材料供应（B1）&mdash;生产制造（B2）&mdash;贸易代理（B3）&mdash;零售/服务（B4）、跨行业的底层互通。目前，平台注册会员量达到80余万，日流量超过700万。近年来，使用"行业通"网上生意管理工具的企业越来越多，企业不仅在网上实现销售，而且成功地完成采购，平均每天网上交易已超过200万元。 </p>
      </div>
      </div>
    
	<div class="cls"></div>	
</div>
<!--版权信息 begin-->
<div class="module019 clearfix">
<div class="footer">
	<div class="copy mT12">
		<div class="outerbox">
                 <ul class="copy1">
                     <li class="weight">核心服务</li>
                     <li><a href="#">找供应</a></li>
                     <li><a href="#">找求购</a></li>
                     <li><a href="#">找代理</a></li>
                     <li><a href="#">查行情</a></li>
                 </ul>
                 <ul class="copy1">
                     <li class="weight">关于我们</li>
                     <li>
                     <a href="Copyright/AboutUs.html">关于本站</a></li>
                     <li>
                     <a href="Copyright/ContactUs.html">联系我们</a></li>
                     <li>
                     <a href="Copyright/Ly.html">客户留言板</a></li>
                    
                 </ul>             
                 <ul class="copy1">
         <li class="weight">商务合作</li>
                     <li><a href="Copyright/Ad.html">广告招商</a></li>
                     <li><a href="Copyright/link.html">友情链接</a></li>
                 </ul>  
                 <ul class="copy1">
                     <li class="weight">合作伙伴</li>
                     <li><a href="#">中国网库</a></li>
                     <li><a href="#">中国行业网联盟</a></li>
                     <li><a href="#">中国B2B电子商务服务联盟</a></li>
                     <li><a href="#">中国招商联盟</a></li>
                 </ul>  
                 <div class="f_list">
                    <h4 class="weight">关注我们</h4> 
                    <ul class="l_two"> 
                        <li><a target="_blank" href="http://weibo.com/u/2523407600"><span class="i_sina">&nbsp;</span>新浪微博</a></li> 
                        <li><a target="_blank" href="http://hongzaojyw.bokee.com"><span class="i_renren">&nbsp;</span>博客网</a></li>
                        <li><a target="_blank" href="http://t.sohu.com/u/274446486"><span class="i_dban">&nbsp;</span>搜狐</a></li> 
                        <li><a target="_blank" href="http://my.tianya.cn/61241179"><span class="i_qzone">&nbsp;</span>天涯</a></li> 
                        <li><a target="_blank" href="http://t.qq.com/wangchunya8092"><span class="i_sina2">&nbsp;</span>腾讯微博</a></li>
                        <li><a target="_blank" href="http://blog.ifeng.com/5823165.html"><span class="i_wangyi">&nbsp;</span>凤凰</a></li>     
                    </ul> 
                </div>   
		  </div> 
                          
  </div>
	<div class="foot">
    	<p>版权所有<span>&copy;</span>中国冰酒交易网<br />
地址：北京市东城区胜古中路1号蓝宝商务大厦402 电话：400-6056-258 <br />传真：010-64429077 邮箱：yujinhe@99114.com<br />
 技术支持：<a href="http://business.99114.com" target="_blank" rel="nofollow" class="wk">中国网库</a> ICP备案号：京ICP证060961号<script src="http://s96.cnzz.com/stat.php?id=5586469&web_id=5586469&show=pic" language="JavaScript"></script>
		<script src="http://s96.cnzz.com/stat.php?id=5596693&web_id=5596693&show=pic" language="JavaScript"></script>
        <script type="text/javascript" id="bdshare_js" data="type=slide&amp;mini=1&amp;img=4&amp;uid=628257"></script></p>
    </div>
</div>
</div>
<script language="javascript" type="text/javascript" src="../Js/Jquery.js"></script><!-- jQuery -->
<script language="javascript" type="text/javascript" src="../Js/ice.select.js"></script><!-- 搜索select -->
<script type="text/javascript" src="../Js/search.js"></script><!--搜索-->
<script type="text/javascript" src="../Js/Index.js"></script>






</body>
<script type="text/javascript">
			$("#menu li").each(function(){
										$(this).mouseover(function (){
																	$(this).addClass("focus")
																	 
																	})
										$(this).mouseout(function (){
																	$(this).removeClass("focus")
																	 
																	})
										})
/*鼠标划过显示离开隐藏*/

$(function(){
	$("#Nav ul li:first .fenlei_t").hover(function(){
		
		$(this).children("#menuNav").show()
		//alert("")
		},function(){
		$(this).children("#menuNav").hide()
		})
})

</script>
</html>
