@charset "utf-8";
/* CSS Document */
body,div,form,ul,ol,li,dl,dt,dd,table,td,th,input,p{ padding:0; margin:0; font:100 12px/18px "����"}
ul,ol,li,dl,dt,dd{ list-style-type:none}
h1,h2,h3,h4,h5,h6{ padding:0; margin:0;}
img,object{ border:0; vertical-align:middle}
a:link,a:visited{ color:#333; text-decoration:none}
a:hover,a:active{ color:#f60; text-decoration:underline}
a{blr:expression(this.onFocus=this.blur());outline: none;}
i,em { font-style:normal}
.cls{ font:0/0 Arial; height:0; clear:both;}
.clearfix{zoom:1}
.clearfix:after{ content:"."; display:block; height:0; clear:both; overflow:hidden; visibility:visible}
/*����*/
.fontRed{ font-style:normal; display: inline-block; color:#fd1717;}
.fontBlue{ font-style:normal; color:#03c;}
.fontGray{ font-style:normal; color:#999}
.fontGray6{ font-style:normal; color:#666}
.fontOrange{ font-style:normal; color:#F60}
.fontGreen{ color:#009900;}
.fontBlod{ font-style:normal; font-weight:600;}
.font14{ font-size:14px;}

.h4{ font:600 14px/20px "΢���ź�"}

/*������ʽ*/
a:hover { text-decoration:none}
a.linkBlue:link,a.linkBlue:visited{ color:#03c}
a.linkBlue:hover,a.linkBlue:active{ color:#03c;}

a.linkBlue2:link,a.linkBlue2:visited{ color:#044985}
a.linkBlue2:hover,a.linkBlue2:active{ color:#044985;}

a.linkBlue3:link,a.linkBlue3:visited{ color:#044985; text-decoration:underline;}
a.linkBlue3:hover,a.linkBlue3:active{ color:#044985;}
a.linkOrange:link,a.linkOrange:visited{ color:#f60}
a.linkOrange:hover,a.linkOrange:active{ color:#f60;}

a.linkGray:link,a.linkGray:visited { color:#666; text-decoration:underline}
a.linkGray:hover,a.linkGray:active { color:#f60;}

a.linkRed:link,a.linkRed:visited { color:#fd1717; text-decoration:underline}
a.linkRed:hover,a.linkRed:active { color:#fd1717;}

a.linkRed2:link,a.linkRed2:visited { color:#fd1717;}
a.linkRed2:hover,a.linkRed2:active { color:#fd1717;}

a.linkBlue4:link,a.linkBlue4:visited { color:#0579c6;}
a.linkBlue4:hover,a.linkBlue4:active { color:#f60;}

a.bai:link,a.bai:visited { color:#fff; cursor:pointer}
a.bai:hover,a.bai:active { color:#fff;}


.fl{ float:left}
.fr{ float:right}
.textL{ text-align:left}
.textR{ text-align:right}
.textC{ text-align:center}
.position{ position:relative;}
.none{ display:none}
.displayl{ display:inline}

.wrapper{ width:1000px; margin:0 auto; zoom:1; overflow:hidden;}

/*ͷ����ʽ*/
.header{ float:left; width:100%; height:42px; background:#336699; z-index:1; top:29px; position:fixed; _position:absolute; _top:expression(documentElement.scrollTop); }

.nav { width:1000px; height:42px; margin:0 auto; _margin:0 auto;}
/*.nav h1 { float:left; width:148px; height:40px; display:inline-block; background:url(../images/header_bg2.jpg) no-repeat right bottom; text-align:center; padding-right:12px;}
.nav h1.no { background:none}
.nav h1 a:link,.nav h1 a:visited { color:#fff; font:100 20px/40px "΢���ź�";}
.nav h1 a:hover,.nav h1 a:active { color:#fff;}*/
.nav ul.menu li { float:left;}
.nav ul.menu li a:link,.nav ul.menu li a:visited { display:inline-block; padding:0 30px; font:600 15px/42px "����"; color:#fff;}
.nav ul.menu li.on,.nav ul.menu li a:hover,.nav ul.menu li a:active { display:inline-block; background:#225588; color:#fff; text-decoration:none;}

/*header*/
.top_out{background:url(../images/headerBg.jpg) repeat-x;width:100%;margin:0 auto;position:fixed;z-index:99999;top:0;left:0; }
.top_top{overflow:hidden;width:100%;}
.top-1{height:29px;width:1000px;margin:0 auto;}
.top-1-L{height:29px;line-height:29px;width:240px;letter-spacing:1px; color:#666;}
.top-1-L p{float:left;line-height:29px;height:29px;}
.top-1-L span{display:inline-block;float:left;color:#ff7200;}
.top-1-L a{color:#ff7200;}
.top-1-R li{float:left;height:29px;padding:0 8px; text-align:center;background:url(../images/topLiBg.jpg) no-repeat right top;cursor:pointer;_overflow:hidden;}
.top-1 .login{ color:#ff6622; }
.top-1-L .regist{color:#666;}
.top-1-L .regist:hover{ color:#ff6622;}
.top-1-R li a{color:#666;}
.top-1-R li .toSet a,.top-1-R li .shoppingListno a{ color:#fff;}


/*buyList*/
.buy_order_icon{background:url(../images/icons.png) no-repeat -7px -7px;height:15px;width:15px;float:left;vertical-align:middle;margin:6px 6px 0 0;}
.snMenu{padding:0 11px;position:relative;}
.topTwoBorder{display:inline-block;cursor:pointer;height:29px;}
.snMenu a span{display:inline-block;float:left; line-height:29px;}
.snMenu a b{ width:9px; height:4px; background:url(../images/top_icon.gif) no-repeat 0 0; display:inline-block; overflow:hidden; margin:13px 0 0 6px;}

.snMenuHover{border:1px solid #dfdfdf;border-top:0;border-bottom:0;background:#fff;padding:0 10px;width:auto;}
.snMenuHover li{height:30px;}
.snMenuHover li a{}
.snMenuHover a span{display:inline-block;float:left;}
.snMenuHover a b{ width:9px; height:4px; background:url(../images/top_icon.gif) no-repeat 0 -8px; display:inline-block; overflow:hidden; margin:13px 0 0 6px;}
.snMenuHover .muneList{}

.shoppingList{position:absolute;width:202px;border:1px solid #dfdfdf; border-top:none;padding:5px;left:-44px;background:#fff;top:29px;display:none;_left:-50px;}
.shoppingListCon{border-bottom:1px dashed #dfdfdf;height:20px;padding:5px 0;}
.shoppingListCon p{float:left;height:20px;line-height:20px;width:100px;overflow:hidden;padding:0 5px;}
.shoppingListCon .num{height:20px;line-height:20px;margin-right:5px;display:inline-block;float:left;}
.shoppingListCon .num a{display:inline-block;width:15px;height:20px;text-align:center;line-height:20px;float:left; cursor:pointer;}
.shoppingListCon .num a:hover{text-decoration:none;}
.shoppingListCon .num input{float:left;width:33px;height:18px;line-height:18px;text-align:center;border:1px solid #7f9db9;}
.shoppingListCon .end{float:left;width:19px;height:20px;background:url(../images/common_01.png);overflow:hidden;}
.toSet{margin-top:10px;height:20px;}
.toSet a{height:18px;color:#fff;background:#dc0705;line-height:18px;font-size:12px;display:block;width:60px;margin:0 auto;}
.toSet a:hover{color:#fff;}
/*�ҵĽ����������κλ�Ʒ*/
.shoppingListno{position:absolute;width:144px;border:1px solid #dfdfdf; border-top:none;padding:5px;left:-1px;background:#fff;top:29px;display:none;padding:26px 70px;_left:-11px;}
.shoppingListno p{ height:28px; line-height:28px; color:#666}
.shoppingListno a{ display:block; height:25px; width:109px; text-align:center; line-height:25px; color:#fff; font-weight:bold; background:url(../images/top_abj.jpg) no-repeat; margin:15px 0 0 20px;}


/*buyCenter*/
.topBuyC{position:absolute;width:73px;border:1px solid #dfdfdf; border-top:none;padding:5px;left:-1px;background:#fff;top:29px;display:none;_left:-11px;_width:76px;}
.topBuyC a{height:25px;line-height:25px;display:inline-block;width:70px;}


/*��Ա����2*/
.topBuyCno{position:absolute;width:204px;border:1px solid #dfdfdf; border-top:none;padding:5px;left:-1px;background:#fff;top:29px;display:none;_left:-11px;}
.topbuycon{ width:82px; margin-left:10px;text-align:left;}
.topbuycon p{ height:25px; line-height:25px; font-weight:bold; color:#666;}
.topbuycon  ul li{ height:25px; line-height:25px; width:82px; background:none;text-align:left; padding:0; overflow:hidden; }
.li_height{ line-height:29px;}

/* ͷ��������ʽ */
.top-search{ float:right; margin-top:9px; _margin-top:2px; width:220px; height:24px; background:url(../images/top_search_bg.gif) no-repeat;}
.top-search .search-select{float:left;}
.top-search .search-select h5 { display:block; width:58px; padding-left:6px; height:24px; font:100 12px/24px "����"; border-right:1px solid #ddd;}
.top-search .search-select h5 span{ display:inline-block; float:left; padding:0 2px 0 4px; font:100 12px/24px "����"; cursor:pointer;}
.top-search .search-select h5 a{ display:inline-block; float:left; height:13px; width:13px; padding:2px 6px; margin-top:2px; background:#efefef url(../images/btn01.gif) no-repeat 0 -212px;}

.top-search .search-select-active{ position:relative;}
.top-search .search-select .search-options{ position:absolute; width:63px; top:22px; left:0 padding:2px 0; border:1px solid #b1b4b7; border-top:1px solid #ccc; background:#fff; display:none; z-index:100;}

.top-search .search-select .search-options a{ margin:0 1px; display:block; height:20px; line-height:20px; padding-left:8px; width:54px;}
.top-search .search-select .search-options a:hover{ background:#d2d7db; color:#333; text-decoration:none}

.top-search .form{ float:left; width:148px; height:24px; overflow:hidden}
.top-search .form .keywords{ float:left; width:120px; height:24px; font:100 12px/24px "����"; padding:0 0 3px 4px; border:none; background:none;}
.top-search .form .search-btn{ float:left; width:24px; height:24px; border:none; text-indent:-9999px; display:inline-block; cursor:pointer; background:none}}

.dlxx { float:right; height:16px; float:right; margin-top:6px; color:#fff;}
.name { width:16px; height:16px; background:url(../images/ico.png) no-repeat 0 -8px; display:inline-block; vertical-align:middle}
.notice03 { width:18px; height:16px; background:url(../images/ico.png) no-repeat 0 -42px; display:inline-block; vertical-align:middle}

/*������ʽ*/
.form input{ outline:none;}
.form textArea{ padding:2px; resize:none; vertical-align:middle; border:1px solid #b5b5b5; color:#333; font-size:12px; outline:none }
.form input.text,.calendar-input{ height:26px; padding:1px 2px; line-height:26px; border:1px solid #ccc; color:#333; vertical-align:middle; background:#fff;}
.form input.text2{ height:18px; padding:1px 2px; line-height:18px; border:1px solid #ccc; color:#333; vertical-align:middle; background:#fff;}
.form input.textHover{ background:#ffffe0 url(../images/text_hover.gif) repeat-x top}
.form input.textErro{ background:#fff4d5 url(../images/text_erro.gif) repeat-x top}
.form .radio{ margin-top:-3px; margin-right:3px; *margin-right:0px; _margin-right:0px; vertical-align:middle;}

/*����������ʽ*/
.calendar-input{ background:#fff url(../images/calendar.gif) no-repeat right center; cursor:pointer;}

/*������ʽ*/
.formData{}
.formData .fieldline{ clear:both}
.formData .fieldline .radio{ vertical-align:-2px}
.formData .fieldline .c1,.formData .fieldline .c2{ display:inline; float:left; line-height:18px; padding-bottom:15px}
.formData .fieldline .c1{ text-align:right; width:130px;}

.formData .fieldline .c1 span{ width:8px; margin:0 4px; color:#cd0303}
.formData .fieldline .c2{ margin-left:8px}
.formData .fieldline .ctp{ padding-top:1px; padding-top:3px\9; *padding-top:3px;}

.formData .fieldline .clearBtm{ padding-bottom:0px}

/*������ʽ*/
.warn{ padding:15px 18px; line-height:28px; background:#fdf4ef; border:1px solid #f8d0ba; border-radius:5px 5px 5px 5px}
.warn-close-btn{ float:right;}
.warn-close-btn a{ display:inline-block; width:12px; height:12px; background:url(../images/close.gif) no-repeat}
.warn-tit{ padding-left:20px; font-weight:bold; background:url(../images/speaker.gif) no-repeat}

.warn1{ padding:8px 0 8px 12px; border:1px solid #FCC992; background:#FFF7EE; color:#666}


/*�м������ݿ�����ʽ*/
.leftCont{ float:left; width:160px; float:left; zoom:1; _Top:expression(documentElement.scrollTop); background:url(../images/line_bg.gif) repeat-y right top;}
.rightCont{ float:right; width:840px; margin-bottom:-10000px;padding-bottom:10000px;/*���ⲹ���ǹؼ�*/}
.row{margin-bottom:-10000px;padding-bottom:10000px;/*���ⲹ���ǹؼ�*/}

.ht600{ height:auto !important;}
.ht500{height:auto !important; height:500px;min-height:500px;}

/* �Ҳ��ͷ�������ʽ */
.service { width:30px; margin-left:760px; +margin-left:10px; _margin-left:760px; top:84px; position:fixed; _position:absolute; z-index:605;/overflow:visible;}

.ie6fixedTL{position:fixed;top:148px; _margin-top:148px;}
/*.ie6fixedBR{position:fixed;right:0;bottom:0}
*/* html,* html body{background-image:url(about:blank);background-attachment:fixed}
* html .ie6fixedTL{position:absolute;left:expression(eval(document.documentElement.scrollLeft));top:expression(eval(document.documentElement.scrollTop))}
/** html .ie6fixedBR{position:absolute;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0));top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))}
*/
.service a.guide { display:inline-block; width:30px; height:110px;background:url(../images/yellow_bg.gif) no-repeat;}
.service a.serve {display:inline-block; width:30px; height:209px;background:url(../images/blue_kf.gif) no-repeat;}

.kfzx { width:210px; color:#333; zoom:1; overflow:hidden;}
.kfzx .cont { float:left;width:145px; height:114px;background:url(../images/ul1_bg.gif) no-repeat;margin-top:-2px;padding-left:25px;}
.kfzx li{height:35px;}
.liOne{ padding-top:6px; line-height:37px;+line-height:32px;}
.liTwo{line-height:30px;+line-height:20px;_line-height:30px;}
.liThree{line-height:33px;+line-height:25px;_line-height:28px;}

.kfzx .cont2 { float:left;width:171px; height:213px;background:url(../images/kf2_bg.gif) no-repeat;margin-top:-2px;display:inline;}
.kfzx .cont2 li { float:left;display:inline;width:60px;height:auto;margin-right:15px;_margin-right:12px;margin-top:3px;}
.kf_tel{height:47px;padding:13px 0 0 15px;}
.kf_tel span{color:#ff6600;font-weight:bold;margin-top:3px;display:inline-block;}
.s_time{height:42px;}
.s_time span{color:#777;font-weight:normal;}
.cont2 p{line-height:25px;margin:15px 0 0 15px;}
.kefu{padding-left:13px;}
.kefu li a{background:url(../images/newIcons.gif) no-repeat -5px -68px;width:40px;height:20px;display:inline-block;padding-left:25px;}

.service2{/*top:260px;margin-top:10px;*/}
.mt120{margin-top:110px;_margin-top:-2px;}
.account_guide{position:fixed;top:148px; display:none;}
.custom_center{position:fixed;margin-top:10px; display:none;}
.service a.guide2 { display:inline-block; width:30px;height:110px;background:url(../images/yellow_bg.gif) -40px 0;}
.service a.serve2 { display:inline-block; width:30px;height:209px;background:url(../images/blue_kf.gif) no-repeat -40px 0;}

.w_right { float:left; display:inline-block; width:24px; height:15px; margin-top:8px; background:url(../images/right.gif) no-repeat; vertical-align:middle;}
.w_error { float:left; display:inline-block; width:24px; height:15px; margin-top:8px; background:url(../images/wrong.gif) no-repeat; vertical-align:middle;}

/* wxm 11.07 ���ർ�� */
.tree { color:#757575; z-index:100;}
.tree li { height:20px; display:block; line-height:20px;}
.tree li a { display:inline-block; width:112px; height:20px; font:600 14px/20px "����"; padding-left:30px; color:#3c3c3c; }
.tree li a.procure { background:url(../images/ico2.gif) no-repeat 4px -132px; }
.tree li a.purchase { background:url(../images/ico2.gif) no-repeat 4px -110px; }
.tree li a.credit {background:url(../images/ico2.gif) no-repeat 4px -22px; }
.tree li a.photo { background:url(../images/ico2.gif) no-repeat 4px -44px; }
.tree li a.apply { background:url(../images/ico2.gif) no-repeat 4px 0; }
.tree li a.shop { background:url(../images/ico2.gif) no-repeat 4px -66px; }
.tree li a.khgl { background:url(../images/ico2.gif) no-repeat 4px -156px; }
.tree li a.yxgl { background:url(../images/ico2.gif) no-repeat 4px -178px; }
.tree li a.gysgl { background:url(../images/ico2.gif) no-repeat 4px -202px; }
.tree li a.sz { background:url(../images/icon3.gif) no-repeat 4px -106px; }
.tree li a.jy { background:url(../images/icon3.gif) no-repeat 4px -22px; }
.tree li a.sc { background:url(../images/icon3.gif) no-repeat 4px -64px; }
.tree li a.gg { background:url(../images/icon3.gif) no-repeat 4px -86px; }
.tree li a.bj { background:url(../images/icon3.gif) no-repeat 4px 0; }
.tree li a.tp { background:url(../images/icon3.gif) no-repeat 4px -44px; }
.tree li a.micro { background:url(../images/micro.png) no-repeat -2px -4px; }

.tree li.h50 {padding:3px 0; height:auto; display:inline-block;}
.tree li.h50 a { float:left; margin-top:6px; width:112px; height:20px; padding-left:30px; font:600 12px/20px "����"; font-weight:100; display:inline-block; color:#757575; background:#fff;}
.tree li.h50 a:hover,.tree li.h50 a.currt { color:#6a6a6a; font-weight:600; text-decoration:none; background:#eaeaea;}

.tree span.tel  { margin-left:30px; line-height:22px; display:inline-block; clear:both;}
.tree .contant { background:url(../images/ico2.gif) no-repeat 4px -87px; display:inline-block; font:600 14px/22px "����"; width:112px; height:22px; padding-left:30px; color:#3c3c3c;}


/*��������ʽ*/
.tag dt{ padding-left:10px; height:30px; background:url(../images/tag.gif) repeat-x; }
.tag dt a{ display:inline-block; cursor:pointer;  padding:0 0 0 20px; background:url(../images/tag.gif) no-repeat left -30px;}
.tag dt a span{ display:inline-block; height:16px; padding:7px 20px 7px 0;  background:url(../images/tag.gif) no-repeat right -30px; color:#17191d; font:100 12px/16px "΢���ź�"; text-decoration:none;}
.tag dt a:hover,.tag dt a:active{ text-decoration:none}
.tag dt a:link span,.tag dt a:visited span{ color:#17191d;}
.tag dt a:hover span,.tag dt a:active span{color:#1266a7; text-decoration:none}
.tag dt a.on{ background-position:left -60px;}
.tag dt a.on span{ background-position:right -60px; color:#082a4e; height:16px; font:600 12px/16px "΢���ź�";}
.tag dt a.on:hover,.tag dt a.on:active{ color:#cc0000;}
.tag dt a.on:link span,.tag dt a.on:visited span{ color:#17191d;}
.tag dt a.on:hover span,.tag dt a.on:active span{ color:#1266a7;}
.tag dd{ display:block}

.dt-bg{background:#fcf2d9;height:30px;padding-top:5px; margin-bottom:5px;}
.dt-bg03{background:#fcf2d9;height:30px;padding-top:5px;}
.dt-bg02{background:url(../images/tag-bg.gif) repeat-x;height:30px; padding-top:5px; margin-bottom:5px;}
.dt-bg02.no { margin-bottom:none;}

.tag02 dt{ padding-left:10px; height:30px; background:url(../images/tag-yh.gif) repeat-x; }
.tag02 dt.no { background:none; padding-left:0;}
.tag02 dt a{ display:inline-block; cursor:pointer;  padding:0 0 0 20px; background:url(../images/tag-yh.gif) no-repeat left -30px; margin-left:5px; float:left;}
.tag02 dt a.no { background:none;}
.tag02 dt a span{ display:inline-block; height:16px; padding:7px 20px 7px 0;  background:url(../images/tag-yh.gif) no-repeat right -30px; color:#17191d; font:100 12px/16px "΢���ź�"; text-decoration:none;}
.tag02 dt a span.no { background:none;}
.tag02 dt a:hover,.tag02 dt a:active{ text-decoration:none}
.tag02 dt a:link span,.tag02 dt a:visited span{ color:#17191d;}
.tag02 dt a:hover span,.tag02 dt a:active span{color:#1266a7; text-decoration:none}
.tag02 dt a.on{ background-position:left -60px;}
.tag02 dt a.on span{ background-position:right -60px; color:#082a4e; height:16px; font:600 12px/16px "����";}
.tag02 dt a.on:hover,.tag02 dt a.on:active{ color:#cc0000;}
.tag02 dt a.on:link span,.tag02 dt a.on:visited span{ color:#17191d;}
.tag02 dt a.on:hover span,.tag02 dt a.on:active span{ color:#1266a7;}
.tag02 dd{ display:block}

#pagelist {height:22px; color:#333; text-align:right;}
#pagelist ul li { float:left; height:22px; line-height:22px; margin:0px 2px;}
#pagelist ul li a { display:inline-block; padding:0px 6px; width:12px; text-align:center; border:1px solid #b3b3b3;}
#pagelist ul li input.sub123{ display:inline-block; width:46px; height:28px; background:url(../images/btn01.gif) 0 -157px; border:0; cursor:pointer; vertical-align:middle}
#pagelist ul li input { width:22px; padding:0 4px; margin:0; height:22px; border:1px solid #b3b3b3; line-height:22px; vertical-align:middle;}
#pagelist ul li a:hover {display:inline-block; padding:0px 6px; width:12px; text-align:center; background:url(../images/pagebj.gif) repeat-x; color:#044985; border:1px solid #044985;}
.current { border:1px solid #044985; color:#044985; display:inline-block; padding:0px 6px; width:12px; text-align:center; font-weight:bold;}
#pagelist ul li.up a,#pagelist ul li.next a{ height:16px; padding-top:6px; text-align:center;}
#pagelist ul li.up a:hover,#pagelist ul li.next a:hover {display:inline-block; padding:0px 6px; height:16px; padding-top:6px; width:12px; text-align:center; border:1px solid #044985;}
.pageinfo { display:block; padding:0px 6px; text-align:center; line-height:22px;}

/*ҳ��*/
.footer{position:absolute; z-index:700; height:66px; width:100%; background:url(../images/bottom_bg.gif) repeat-x; margin-top:28px;}
.footer p{ padding-top:4px; text-align:center; font:600 12px/62px "����"; color:#333;}

/*������ʾ����ʽ*/
.dvAtten .ok,.dvAtten .okYel,.dvAtten .err{ display:inline-block; padding:6px 15px 6px 30px;}
.dvAtten .ok{ border:1px solid #AAE49F; background:#EFFBEE url(../images/dvOk.gif) no-repeat 10px 6px;}
.dvAtten .err{ border:1px solid #FFBF86; background:#FFF6EA url(../images/dvOk.gif) no-repeat 10px -27px}
.dvAtten .okYel{ border:1px solid #E7D3AC; background:#FFFBDD; background:#fffbdd url(../images/dvOk.gif) no-repeat 10px 6px}


.normal,.Ok1,.Error{ display:inline-block; padding-left:20px;}
.normal{ background:url(../images/dvOk.gif) no-repeat 0 -68px; color:#666}
.Ok1{ background:url(../images/dvOk.gif) no-repeat 0 1px}
.Error{ background:url(../images/dvOk.gif) no-repeat 0 -31px; color:#c81f26}

/*����Ӧ��ɫ��ť*/
.btnGray{ display:inline-block; height:37px; padding:0 0 0 24px; background:url(../images/btn01.gif) no-repeat left -78px; vertical-align:middle}
.btnGray span{ display:inline-block; height:29px; padding:4px 24px 4px 0; font:100 14px/29px "����"; cursor:pointer; background:url(../images/btn01.gif) no-repeat right -78px; }
.btnGray:hover,.btnGray:active{ background-position:left -78px; text-decoration:none;}
.btnGray:link span,.btnGray:visited span{ color:#fff;}
.btnGray:hover span,.btnGray:active span{ background:url(../images/btn01.gif) no-repeat right -78px}

.btnGray2{ display:inline-block; height:24px; padding:0 0 0 12px; background:url(../images/btn01.gif) no-repeat left -126px; vertical-align:middle}
.btnGray2 span{ display:inline-block; height:16px; padding:4px 12px 4px 0; font:100 12px/16px "����"; cursor:pointer; background:url(../images/btn01.gif) no-repeat right -126px; }
.btnGray2:hover,.btnGray2:active{ background-position:left -126px; text-decoration:none;}
.btnGray2:link span,.btnGray2:visited span{ }
.btnGray2:hover span,.btnGray2:active span{ background:url(../images/btn01.gif) no-repeat right -126px}

.btnGray3{ display:inline-block; height:24px; padding:0 0 0 24px; background:url(../images/btn01.gif) no-repeat left -126px; vertical-align:middle}
.btnGray3 span{ display:inline-block; height:16px; padding:4px 24px 4px 0; font:600 12px/16px "����"; cursor:pointer; background:url(../images/btn01.gif) no-repeat right -126px; }
.btnGray3:hover,.btnGray3:active{ background-position:left -126px; text-decoration:none;}
.btnGray3:link span,.btnGray3:visited span{ }
.btnGray3:hover span,.btnGray3:active span{ background:url(../images/btn01.gif) no-repeat right -126px}


.btnBlue{ display:inline-block; height:37px; padding:0 0 0 28px; background:url(../images/btn01.gif) no-repeat left -33px; vertical-align:middle}
.btnBlue span{ display:inline-block; height:29px; padding:4px 28px 4px 0; font:100 14px/29px "����"; cursor:pointer; background:url(../images/btn01.gif) no-repeat right -33px; color:#fff }
.btnBlue:hover,.btnBlue:active{ background-position:left -33px; text-decoration:none;}
.btnBlue:link span,.btnBlue:visited span{}
.btnBlue:hover span,.btnBlue:active span{ background:url(../images/btn01.gif) no-repeat right -33px}

.btnBlue1{ display:inline-block; height:36px; padding:0 0 0 20px; background:url(../images/btn5.gif) no-repeat left 0; vertical-align:middle}
.btnBlue1 span{ display:inline-block; height:22px; padding:7px 20px 7px 0; font:100 14px/22px "����"; cursor:pointer; background:url(../images/btn5.gif) no-repeat right 0;}
.btnBlue1:hover,.btnBlue1:active{ background-position:left -40px; text-decoration:none}
.btnBlue1:link span,.btnBlue1:visited span{ color:#fff}
.btnBlue1:hover span,.btnBlue1:active span{ background:url(../images/btn5.gif) no-repeat right -40px}

.btnOrag{ display:inline-block; height:38px; padding:0 0 0 24px; background:url(../images/btn3.gif) no-repeat left -11px; vertical-align:middle}
.btnOrag span{ display:inline-block; height:38px; padding:0 24px 0 0; font:100 14px/38px "����"; cursor:pointer; background:url(../images/btn3.gif) no-repeat right -11px; color:#fff}
.btnOrag:hover,.btnOrag:active{ background-position:left -54px; text-decoration:none;}
.btnOrag:link span,.btnOrag:visited span{}
.btnOrag:hover span,.btnOrag:active span{ background:url(../images/btn3.gif) no-repeat right -54px}

.btnOrange{background:url(../images/btnOrange.jpg) no-repeat left;display:inline-block;height:35px;padding-left:20px; cursor:pointer;}
.btnOrange span{background:url(../images/btnOrange.jpg) no-repeat right;display:inline-block; padding-bottom:8px!important; padding:8px 20px 9px 0; height:19px;color:#fff;font-weight:bold;}
.btnOrange:hover { text-decoration:none;}
/*���⼶��ʽ*/
.hTit{ height:34px; border-bottom:1px solid #ddd;}
.hTit span{ display:inline-block; float:left; height:34px; font:600 14px/34px "����";}

.smtip{ padding:0 0 0 27px; line-height:22px; background:#FFF8EE url(../images/speaker.gif) no-repeat 10px 4px; border:1px solid #FFC899;}

.navbar{ height:26px; background:#F0F0F0; overflow:hidden}
.navbar .back{ padding:4px 8px; border-right:1px solid #fff}
.navbar .bar-left,.navbar .bar-right{ padding:4px 12px;}


/*������ť*/
.sub-btn,.cacl-btn{ height:24px; width:58px; font:100 12px/24px "΢���ź�"; color:#fff; border:1px solid #d8dfea; border-right:1px solid #0e1f5b; border-bottom:1px solid #0e1f5b; background:#005eac;}
.cacl-btn{ border:1px solid #c3c3c3; background:#f0f0f0; color:#333}

/*�����˵���ʽ*/
.select,.dropDown{}
.select .slt-input,.dropDown .slt-input{ float:left; height:26px; line-height:26px; padding:1px 2px; border:1px solid #B5B5B5; border-right:none; color:#666; font-size:12px; outline:none;}
.select .slt-btn,.dropDown .slt-btn{ float:left; display:inline-block; height:30px; width:24px; background:url(../images/select_btn2.gif) no-repeat; text-decoration:none;}
.select .slt-option,.dropDown .slt-div{ display:none; position:absolute; left:0; top:29px;z-index:1; border:1px solid #b5b5b5; background:#fff;}
.select .slt-option ul{float:right;padding-right:10px; max-height:300px; overflow-y:auto;}
.select .slt-option ul li a{ display:block; height:18px; padding:0 10px; overflow:hidden;}
.select .slt-option ul li a:hover{ background:#0066cc; color:#fff; text-decoration:none}

/*����С����*/
.tspic { float:left; margin-left:73px; _margin-left:33px; width:96px; height:102px; background:url(../images/tsb.gif) no-repeat; display:inline-block;}
.notice01 { width:350px; font:600 14px/40px "����"; color:#044985;}
.notice{ padding-left:28px; width:350px; display:inline-block; line-height:24px; font-size:13px;}

.feedBack{ padding-right:20px; background:url(../images/Icon3.gif) no-repeat right 0px}
.helpIcon{ display:block; height:15px; width:15px; margin:2px 4px 0; _margin:0px 4px 0; cursor:pointer; background:url(../images/Icon3.gif) no-repeat 0 -25px}
.warnIcon{ padding-left:16px; background:url(../images/adv.gif) no-repeat 0 2px}

/* ���ѵ���ͼ�� */
.popup { width:248px; height:98px; background:#fff; border:8px solid #232323; line-height:98px; text-align:center;}
.popup .ok { float:left; background:url(../images/btnok.gif) no-repeat; width:48px; height:48px; margin-left:50px; margin-top:25px; display:inline-block; vertical-align:middle}
.popup .progress { float:left; background:url(../images/loading.gif) no-repeat; width:32px; height:32px; margin-left:50px; margin-top:30px; display:inline-block; vertical-align:middle}

/*column1*/
.column1 .title{ height:30px; background:url(../images/th_bg.gif) repeat-x; border:1px solid #DCDCDC;}
.column1 .title h5{ float:left; margin-left:15px; font:600 12px/30px "΢���ź�"; display:inline}
.column1 .title a{ float:right; margin-right:10px; font:100 12px/30px "΢���ź�";}
.column1 .body{ padding:10px; border:1px solid #DCDCDC; border-top:0;}

/*���¼���*/
.mt38{ margin-top:38px}
.mt20{ margin-top:20px}
.mt10{ margin-top:10px}
.mt14{ margin-top:14px}
.mt5{ margin-top:5px}
.mt3{ margin-top:3px}
.mt64{ margin-top:83px; _margin-top:30px;}
.mt102 { margin-top:102px;}
.ml15{ margin-left:15px}
.ml25{ margin-left:25px}
.ml30{ margin-left:30px}

.ml3{ margin-left:3px}
.ml5{ margin-left:5px}
.ml10{ margin-left:10px}
.ml50{ margin-left:50px}
.ml65 { margin-left:65px;}
.ml135{margin-left:135px;}
.mr5{ margin-right:5px}
.mr10{ margin-right:10px}
.mr14{ margin-right:14px}
.mr15{ margin-right:14px; _margin-right:7px; _width:195px;}

.mt50 { margin-top:50px;}
.mb50 { margin-bottom:50px;}

.mb14{ margin-bottom:14px}

.pt64{ margin-top:64px}
.pt60{ margin-top:60px}


.pad0{padding:0;}

.tc_text { width:350px;}
.w468 { width:468px;}

.w60 { width:60px;}
.w80{ width:80px;}
.w93 { width:93px;}
.w98 { width:98px;}
.w150 { width:150px;}
.w200 { width:200px;}
.w290 { width:290px;}
.w293 { width:293px;}
.w530 { width:530px;}
.w71 { width:71px;}
.w74 { width:74px;}
.w75 { width:75px;}
.w129 { width:129px;}
.w137 { width:137px;}
.w141 { width:141px;}

/*shx 5.16*/
.w210{width:210px;}
.w325{width:330px;}
.w130{width:130px;}
.w40{width:40px;}
.w575{width:570px;width:575px\9;}
@media all and (min-width:0) {.w575{width:570px\9;}}
.w300{width:300px;}
.w180{width:180px;}
.w690{width:690px;}
.w130{width:130px;}
.w100{width:100px;}
.w310{width:310px;}
.w360{width:360px;}
.w220{width:220px;}
.w250{width:250px;}
.pb20{padding-bottom:20px;}
.pr10{padding-right:10px;}
.pb15{padding-bottom:15px;}
.pr15{padding-right:15px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pl60{padding-left:60px;}
.pl116 { padding-left:116px;}

.width600{ width:600px; padding-top:20px;}

.width400{ width:400px; padding-top:14px;}
.width750{ width:840px;}
.width385{ width:385px}
.width270{ width:270px}
.width415{ width:480px}
.width720{ width:720px}
.width718{ width:718px}
.width601{ width:600px;}
.width570{width:570px;}

/*2013.5.2��ҳ�Ҳ࣬��ҵ����������Ϣ����ҵ��Ϣ��������*/
.buy_mes{ border:1px solid #ccc; margin:14px 0; zoom:1;/* wxm 2014.3.10 overflow:hidden;*/}
.buy_tit{ height:36px;background:url(../images/tag-bg.gif) repeat-x;padding:0 240px 0 10px;}
.buy_tit a{ float:right;  margin-top:10px; display:block; text-align:center; width:50px}
.buy_tit .on{ background:#fff; border:1px solid #ccc; _margin-top:10px; border-bottom:medium none; height:25px; color:#044985}
.buy_tit span{ line-height:29px; font-weight:bold}

.buy_tit2{ background:#e8e8e8; margin-top:1px;  padding:0 240px 0 10px; height:29px;}
.buy_tit2 a{ float:left;  margin-top:5px; display:block; text-align:center; width:50px}
.buy_tit2 .on, .sup_div .on{ background:#fff; border:1px solid #ccc; border-bottom:medium none; margin-top: 5px; height:24px; color:#044985; line-height:24px}
.buy_tit2 span{ line-height:29px; font-weight:bold}

.table-address{border:1px solid #ccc;padding:10px;margin:10px;}
/*.table-address li{padding:5px 0;line-height:22px; width:550px;}*/
.addbg{background:#ffe5cc;}

/*����������ʽ*/
.table-address.no { border:none; text-align:center;}
.table-address.no li{padding:4px 0;}

.peomes_h2{ height:44px; line-height:44px; }
.peomes_h2 b, .peomes_h2 span , .peomes_h2 a{ float:left; font-weight:normal; font-size:12px;}
.peomes_h2 .s{_margin:14px 0 0 0}
.peomes_h2 b{ font-size:14px; font-weight:bold;}
.mar_span{ margin-left:28px;}
.peomes_h2 .m2{ margin:10px 0 0 14px}
.m_no{ margin-top:0px}

/* wxm 5.13 */
.table-address li label { text-align:right; display:inline-block;}
.table-address li label.w65 { width:65px;}
.table-address li label.w85 { width:85px;}
.table-address li label.w125 { width:125px;}
.findType{width:90px;vertical-align:middle;}
.tck_panelWarn{width:265px;height:40px;background:#fdf1db;color:#888;display:inline-block;padding:3px 5px 5px;}
.font_blue{color:#0921db;}

/* ��������ɫ���� */
.tcc { width:310px; margin:15px auto 10px; color:#999;}
.tcc label.w40 { width:40px; display:inline-block; vertical-align:top}
.tcc span { display:inline-block; width:270px;}
em.w260 { width:260px; display:inline-block;}
.notice i { display:inline-block; width:48px; height:48px; vertical-align:top}

/*shx 5.14*/
.tck_slt_width{width:206px;}
.changePsd_tck{padding-left:80px;}
.changePsd_tck li{width:100%;display:inline-block}
.table-address li.tck_mbwtWarn{padding:0;}

.lh30 { line-height:30px;}

/* ������ʾ��Ϣ */
i.error { _margin-top:-1px;background:url(../images/Error.png) no-repeat;_background:url(../images/red_icon.gif) no-repeat; vertical-align:middle; width:12px; height:15px; display:inline-block; margin-right:2px; margin-top:-3px;}

.cf{zoom:1;}
.cf:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.clear{ clear:both; overflow:hidden; font-size:1px; line-height:1px; overflow:hidden;}

/* wxm 6.8 */
label.w100 { float:left; width:112px; text-align:right; padding:5px 0;}

/* wxm6.27 */
.sub_btn_qr { float:left; width:76px; height:37px; line-height:37px; font-size:14px; border:0; text- align:center; color:#fff; background:url(../images/btn01.gif) no-repeat 0 -238px;}
.ml125{margin-left:125px;}

/*20130710*/
.body{ position:relative;}
.head_bj{ position:fixed; left:0;top:64px;background:url(../images/bg.gif) repeat-x 0 -42px; width:100%; height:40px;_position:absolute; _z-index:-1; _top:expression(documentElement.scrollTop);_margin-top:64px; }

.btn_check{ display:inline-block; height:24px; width:58px!important; width:58px; _width:88px; padding:0 0 0 30px; background:url(../images/btn_bg.gif) no-repeat; vertical-align:middle; font:100 12px/24px "����"; margin-top:4px;}
.btn_zx{ background:url(../images/btn_bg.gif) no-repeat 0 -26px;}

a.btn_blue{ display:inline-block; height:24px; padding:0 0 0 12px; background:url(../images/btn01.gif) no-repeat left -287px; vertical-align:middle; color:#c5e5ff;}
a.btn_blue span{ display:inline-block; height:24px; padding:0 12px 0 0; font:100 12px/24px "����"; cursor:pointer; background:url(../images/btn01.gif) no-repeat right -287px; }
a.btn_blue:hover,a.btn_blue:active{ background-position:left -287px; text-decoration:none;}
a.btn_blue:link span,a.btn_blue:visited span{ color:#c5e5ff;}
a.btn_blue:hover span,a.btn_blue:active span{ background:url(../images/btn01.gif) no-repeat right -287px}

/*20130718
.popbj{position:absolute;left:0px;top:0px; margin:0px; padding:0px;z-index:9999; width:100%;background:#333;filter:Alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
.popcon{position:fixed; top:30%;left:35%;z-index:10000;margin:0;padding:0;  }
.pop_conpo{position:relative; height:373px; width:505px;background:url(../images/add_indeximg.gif) no-repeat;}
.clear_btn{ position:absolute; left:37px; top:91px; height:27px; width:28px; display:block;}
.next_btn{ position:absolute; left:334px; top:151px; height:45px; width:46px; display:block;}
.nobg1{ background-color:#E8E8E8}
*/

/*20130718*/
.popbj{position:absolute;left:0px;top:0px; margin:0px; padding:0px;z-index:9999; width:100%;background:#333;filter:Alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
.popcon{position:fixed; top:30%;left:35%;z-index:10000;margin:0;padding:0;  }
.pop_conpo{position:relative; height:344px; width:423px;background:url(../images/pop_indeximg.gif) no-repeat;}
.clear_btn{ position:absolute; left:360px; top:120px; height:27px; width:27px; display:block;}


/*shx 0729*/
.mt60{margin-top:60px;}

/* wxm 8.13 */
.content11 {background:#333333;overflow:hidden;_float:left;/*����IE6*/}
.row11 {margin-bottom:-1000px;padding-bottom:1000px;/*���ⲹ���ǹؼ�*/}

/*No permissions*/
.wk_404{ width:568px; height:auto; margin:20% auto 0; padding:0; text-align:center; position:relative}
.wk_404 .peo{ width:146px; height:199px; float:left; display:inline}
.wk_404 .yun{ width:198px; height:124px; position:absolute; top:-72px; left:136px;}
.wk_404 p{ color:#333333; font-size:22px; font-family:"΢���ź�","����"; line-height:36px; padding:70px 0 0}
.wk_404 p i{ color:#e75500}
.wk_404 p a{color:#e75500; text-decoration:none}
.wk_404 p a:hover{ text-decoration:underline}
.wk_404 .btn{ width:119px; height:60px; background:url(../images/btn.png) no-repeat; cursor:pointer; border:none; margin:25px 0 0}

/* wxm 8.23 */
.check_btn{	position:absolute; left:149px; top:186px; height:25px; width:77px; display:block; color:#fff;}
/* ����С�������� */
.tipfloat{display:none;z-index:999;position:fixed;_position:absolute;right:0px;bottom:10px;width:236px;height:183px;overflow:hidden;}
.wkremind { position:absolute; bottom:0; right:36px; width:200px; height:183px; background:url(../images/txing_bg.gif) no-repeat left top; z-index:100; cursor:pointer;}
.wkremind .close { position:absolute; top:6px; right:8px; width:19px; height:18px; background:url(../images/close2.gif) no-repeat;}
.wkremind .gril { position:absolute; top:74px; right:-36px; background:url(../images/txing.gif); width:79px; height:121px;}
.wkremind .cont { position:absolute; top:35px; left:10px; width:158px;}
.wkremind .cont em { color:#f60; font-weight:600; line-height:26px;}
.wkremind .cont p { text-indent:2em; line-height:18px; color:#757575; margin-top:2px;}
.wkremind .fblue,.wkremind a.fblue { color:#3a8cd3;}
.wkremind input.checkbox { vertical-align:middle; margin-right:6px;}

/*������Ϣ��ʽ*/
a.meb_blu{ color:#044985; font-weight:bold}
a.meb_blu:hover{ color:#ff6600; font-weight:bold}

/* �����ڼƻ� */
.dltjh_off { position:fixed; left:0; top:170px; +top:170px; display:none; width:31px; height:150px; background:url(../images/dltjh.gif) no-repeat; z-index:2;}
.dltjh_on { position:fixed; left:23px; top:170px; +top:170px; display:inline-block; width:117px; height:142px; z-index:1; background:url(../images/tjh.gif) no-repeat;cursor:pointer;}
.dltjh_on a.teng_close { float:right; width:17px; height:12px; background:url(../images/zs_close.png) no-repeat; cursor:pointer; display:none; margin:10px 4px 0 0;}
.dltjh_on a.teng_tanc { float:right; margin:46px 0 0 20px; width:120px; height:142px; display:inline-block; cursor:pointer;}

.jhmzs{position:absolute; left:50%; top:150px; width:546px;height:340px; margin-left:-273px; display:none;background:url(../images/teng_bg.png) no-repeat; z-index:100;}
.jhmzs p.jhm { float:left; margin:186px 0 0 114px; font:100 14px/38px "����"; color:#333;}
.jhmzs p.jhm label,.jhmzs p.jhm span { float:left; +float:none; height:40px; line-height:40px; display:inline-block; margin-top:0; padding-top:0;}
.jhmzs p.jhm span { color:#999; margin-left:10px; font-size:12px;}
.jhmzs p.jhm span.wrong{ color:red; padding-left:18px; white-space:nowrap; background:url(../images/error2.png) no-repeat left center;}
.jhmzs p.jhm span.right{ color:black; padding-left:18px; white-space:nowrap; background:url(../images/right.png) no-repeat left center;}

.jhmzs p.jhm input.tm_text { float:left; +float::none; border:1px solid #ecc9a1; background:#ffe9d0; height:38px; width:154px; padding:0 4px; line-height:38px; margin-left:5px; font:100 14px/38px "����";}
.jhmzs a.btn_sjm { display:inline-block; cursor:pointer; background:url(../images/btn_sj.gif) no-repeat; width:90px; height:30px; margin:28px 0 0 215px;}
.jhmzs a.closex,.jhmzs_success a.closex{ float:right; margin:38px 16px 0 0; width:18px; height:18px; display:inline-block; cursor:pointer;}

.jhmzs_success{position:absolute; left:50%; top:150px; width:547px;height:242px; margin-left:-273px; display:none;background:url(../images/teng_success.png) no-repeat; z-index:100;}

/* ��Ա������������΢��΢����ʽ wxm 2014.04.08 */
.wx_k { display:none; position:absolute; top:-62px; left:30px; width:136px; height:139px; background:url(../images/wei_bg.png) no-repeat; padding:17px 0 0 16px; z-index:1000;}


/* ɨ����ά�� wxm 2014.8.22 */
.special_code{ position:fixed; left:40px; top:160px; width:120px; text-align:center; color:#757575;z-index:9999}
.special_code img.img1 { margin:14px auto;}
.special_code img.img2 { margin:0 4px 4px;}
.font_b { font-weight:600;}

/* ��ʾ��ʾ */
.p_message,.p_message2,.p_message3 { border:1px solid #f9dfb2; background:#ffffe0; padding:6px 10px; color:#cc6600; margin:12px 0;}
.p_message2 { margin:12px 10px;}
.p_message3 { color:#f00; background:#ffffe0 url(../../images/zh_ren.png) no-repeat 10px -21px; padding-left:30px;}

.g-hd{width:1000px;height:84px;margin:0 auto;position:relative;zoom:1;}
.g-hd .logo{display:block;position:absolute;width:165px;height:44px;background:url(../images/lo.png) no-repeat;top:30px;left:20px;}
.g-hd .br{width:1px;height:36px;background:url(../images/br.jpg) no-repeat;position:absolute;left:196px;top:32px;}
.g-hd .tips{font-size:26px;color:#444444;font-family:'����';position:absolute;left:212px;top:42px;}

/* ��ɫ���ֱ��� wxm 2014.8.11 */
.yellow_bg { position:absolute; right:2px; top:2px; width:16px; height:16px; line-height:16px; text-align:center; background:url(../images/num_bg.png) no-repeat; color:#fff; display:inline-block; *display:inline; zoom:1;}
.yellow_bg.lh10 { line-height:10px;}
.mt18{ margin-top:18px}
a.lblue { color:#0088cc;}
a.lblue:hover { color:#ff6600;}
.f_blue { color:#225588; font-size:14px; font-weight:600; font-family:"����";}
.f_c757575 { color:#757575;}