ul,li{ padding:0; margin:0;}
.myf-sel {
    line-height: 30px;
}
.mr5 {
    margin-right: 5px;
}
.select, .dropDown {
}
.position {
    position: relative;
}
.fl {
    float: left;
}
ul,ol,li,dl,dt,dd{ list-style-type:none;font: 100 12px/18px "ו";}
a{blr:expression(this.onFocus=this.blur());outline: none;}
a:link,a:visited{ text-decoration:none}
a:hover,a:active{ color:#044985; text-decoration:underline}

.peomes_tab tbody tr th div{ background:none !important; padding:0;}
.d-select{ float:left; margin-right:5px; position:relative;}
.d-select div.slt-chk{ height:30px;}
.d-select div.slt-chk a{ margin:0; padding:0;}
.d-select ul{ display:none; background:#fff;}
.d-select input.slt-input{ float:left; height:26px !important; border:1px solid #B5B5B5; border-right:none; line-height:26px; padding:1px 4px; color:#666; font-size:12px; outline:none;}
.d-select .slt-btn{ float:left; display:inline-block; height:30px; width:24px; background:url(../../images/select_btn2.gif) no-repeat; text-decoration:none;}
.d-select ul{ position:absolute; left:0px; top:30px; z-index:99; float:right; height:auto; overflow-x:hidden; overflow-y:auto; border:1px solid #b5b5b5;}
.d-select ul li{ padding:0 6px; width:auto; text-align:left;}


