@charset "utf-8";
body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td,legend{margin:0;padding:0;border:0;outline:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul,ol{list-style:none}
li{list-style:none;}
i,em { font-style:normal; font-weight:100;}
input,button,textarea,select{ font-size:12px;margin:0; padding:0; vertical-align:middle}
.cf{zoom:1;}
.cf:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.clear{ clear:both; overflow:hidden; font-size:1px; line-height:1px; overflow:hidden;}
img {vertical-align:middle; border:none;}
a {text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur()); color:#3c3c3c;}
a {outline: medium none;text-decoration: none;}
input,button,select,textarea{outline:none}
body{font:Arial,"宋体",Lucida,Verdana,Helvetica,sans-serif;background:url(../Images/register-submit.gif) repeat;width:100%;font-size:12px;}
.w_bg{ background:#fff!important;}
.font12{font-size:12px;}

.fl{float:left!important;}
.fr{float:right;}

.fontGray3{color:#333;}
.fontBlue{color:#003297;}
.fontBlue2{color:#0088cc;}
.fontOrange{color:#ff6600;}
.fontRed{color:#e60011;}

.mt20{margin-top:20px;}
.mr15{margin-right:15px;}
.ml15{margin-left:15px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mt15{margin-top:15px;}
.ml5{margin-left:5px;}
.mt10{margin-top:10px;}
.mt8{margin-top:8px;}




/*--header begin*/
.head_out{padding:20px 0 0;width:100%;background:url(../../images/register/headbg.gif) repeat-x;height:83px;}
.header{width:1000px;margin:0 auto;height:60px;line-height:60px;font-size:12px; _padding-top:0;}
.header .logo{height:60px;margin-right:15px;}
/*.header .logo a{height:60px;display:table-cell;text-align:center;*display:block;margin:0;padding:0;overflow:hidden;*font-size:60px;}
.header .logo a .img {max-height:60px;height:expression(this.height>60?"60px":this.height);_float:left;}*/
.header .logo a{height:60px;display:table-cell;text-align:center;*display:block; _display:inline-block; margin:0;padding:0;overflow:hidden;*font-size:60px;}
.header .logo a .img {max-height:60px;height:expression(this.height>60?"60px":this.height);_float:left;}
.header .logo a.wk.rb { border-right:1px solid #e1e1e1; padding-right:8px;}
.header .logo a.teng { width:84px; height:68px;}
.head_tle{width:125px;height:44px;margin-top:8px;margin-right:15px;}
.head_tle img {_float:left;}
.login{background:url(../../images/register/bgs.gif) no-repeat 0 0;width:38px;height:22px;line-height:22px;text-align:center;display:inline-block;margin-left:10px;}
.tel{background:url(../../images/register/reg_tel.png) no-repeat;width:138px;height:33px;margin-top:19px;}
.hd_login{_margin-top:20px;}

/*main begin*/
.main{margin-top:6px;}
.perTitle{height:48px;line-height:48px;color:#333;border-top:1px solid #ccc;}
.perTitle_comInfo span{height:20px;width:75px;background:url(../../images/register/tleFont.png);margin:10px 0 0 35px;display:inline-block;}
.content{width:998px;border:1px solid #ccc;margin:0 auto;border-top:none;}
.accountInfo{background:#fff;padding:30px 0 9px;}
.label{color: #999999;font-size: 14px;padding-right: 10px;text-align: right;width:130px;font-weight:bold;color:#757575;}
/* .item_info{position:relative;width:286px;} */
.item_info{position:relative;width:610px; zoom:1; /* overflow:hidden;*/}
.form .item{height: 60px;line-height: 34px;padding-top: 9px;}
.form .item2 {height: 60px;line-height: 28px;padding-top: 0px;}
.form .label{float:left;}
.form .info{margin-left: 4px;}
.form .text{border: 1px solid #CCCCCC;color: #999999;float: none;font-family: arial,"宋体";font-size: 12px;height: 16px;padding: 10px 5px 10px 25px;width:254px;}
.form .inputCl{border: 1px solid #fff;color: #999;float: none;font-family: arial,"宋体";display: inline-block;font-size: 12px;height: 16px;padding: 10px 5px 10px 25px;width:254px;background:#fff;}
.form .text2{padding-left:5px;width:274px;}
.form .i_name{position:absolute;left:8px;}
.form .item_info .i_pass{background: url(../../images/register/reg2.jpg) no-repeat scroll 0 0 transparent;height:17px;top: 11px;width: 14px;position:absolute;left:8px;}
.form .item_info .i_name{background:url(../../images/register/reg1.jpg) no-repeat;height:17px;top: 9px;width: 16px;}
.form .item_info .i_tel{background:url(../../images/register/reg3.jpg) no-repeat;top:9px;height:19px;width:13px;position:absolute;left:8px;}
.form .item_info .i_email{background:url(../../images/register/reg4.jpg) no-repeat;height:12px;width:15px;position:absolute;left:8px;top:13px;}
.intelligent-error{background: none repeat scroll 0 0 #FFEBEB;border: 1px solid #FFBDBE;left:140px;position: absolute;top:46px;width: 284px;}
h5{font-size:12px}
.intelligent-error h5{color: #999999;font-weight: normal;margin-top: 1px;padding: 0 3px;}
.intelligent-error .item_fore{height: 24px;line-height: 24px;overflow: hidden;padding: 0 3px;font-size:14px;color:#333;}
.intelligent-error .item_fore .radio{margin-top:-3px;}
.form .error{background:url(../../images/register/bgs.gif) no-repeat 0 -188px;width:274px;height:38px;color:#e60011;position: absolute;right: -320px;top: 0;padding:0 10px 0 30px;font-size:12px;line-height:38px;}
.form .error2{line-height:16px;padding-top:4px;height:34px;}
#regName_error,#comNm_error,#pwd_error,#pwdRepeat_error,#iphone_error{cursor: pointer;float: none;margin-top: 0;}
#RegForm .error{color:#e60011;}
.form .focus{background:url(../../images/register/bgs.gif) no-repeat 0 -142px;width:274px;height:38px;color:#757575;position: absolute;right: -320px;top: 0;padding:0 10px 0 30px;font-size:12px;line-height:38px;}
.form .succeed{background:url(../../images/register/bgs.gif) no-repeat -50px 0;width:16px;height:16px;right:-26px;top:7px;}
#intelligent-regName_ul{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #BBBBBB;border-top:none;left: 0;position: absolute;top: 38px;width: 284px;}
#intelligent-regName_ul li{height:22px;line-height:22px;padding:0 3px;}
.getYzm,.getYzm3{background:url(../../images/register/bgs.gif) no-repeat 1px -28px;width:107px;height:32px;display:inline-block;text-align:center;line-height:32px;color:#757575;font-size:12px;}
.getYzm2{width:152px;background:url(../../images/register/bgs.gif) no-repeat 1px -67px;}
.dis{display:inline-block;}
a.getYzm:hover{background-position:-113px -28px;}
a.getYzm2:hover{background-position:-159px -67px;}
.form .item_tel{height:93px;}
.yzm{font-size:12px;color:#757575;}
.form .yzm_tishi{width:274px;padding:0 10px 0 30px;height:38px;background:url(../../images/register/bgs.gif) no-repeat 0 -142px;display:inline-block;position:absolute;right:-338px;line-height:19px;}
.form .yzm_third_tishi{width:274px;padding:4px 10px 0 30px;height:34px;background:url(../../images/register/bgs.gif) no-repeat 0 -188px;display:inline-block;position:absolute;right:0px;line-height:16px;color:#e60011;}
.form .yzm_four_tishi{width:274px;padding:4px 10px 0 30px;height:34px;background:url(../../images/register/bgs.gif) no-repeat 0 -188px;display:inline-block;position:absolute;right:0px;line-height:34px;color:#e60011;}
.form .yzm_succeed{top:64px;}
.form .yzm_item_text{width:94px;padding-left:5px;}
.accountForm{float:left;width:800px;}
/*会员特色服务*/
.special_service{float:left;margin:9px 0 15px 7px;position:relative;width:178px;border:1px solid #d0e4c1;}
.ss_title{width:168px;height:45px;background:url(../../images/register/tleFont.png) 0 bottom; font:100 18px/45px "微软雅黑"; color:#f60; padding-left:10px;}
.service_con p{background:url(../../images/register/up.png)  no-repeat;color:#333;font-size:12px;padding-left:20px;margin-left:15px;margin-top:15px;}
.knowMore{color:#ff6600;font-size:12px;font-weight:bold;text-align:left;margin:14px 0 0 15px; width:156px;}
.hyt{background:url(../../images/register/bgs.gif) no-repeat 1px -331px;width:155px;height:30px;display:inline-block;}
a.hyt:hover{background-position:-157px -331px;}
.dpt{background:url(../../images/register/bgs.gif) no-repeat 1px -331px;width:155px;height:30px;display:inline-block;margin-top:8px;}
a.dpt:hover{background-position:-157px -331px;}
.hyt_con{background:url(../../images/register/tleFont.png) no-repeat 1px -196px;width:72px;height:20px;display:inline-block;margin-top:6px;}
.dpt_con{background:url(../../images/register/tleFont.png) no-repeat 1px -226px;width:72px;height:20px;display:inline-block;margin-top:6px;}

/*公司信息*/
.perTitle_comInfo span{background-position:0 -23px;}
.perTitle b{font-weight:normal;font-size:12px;margin-right:35px;color:#333;}
.perRegist{width:60px;height:22px;background:url(../../images/register/bgs.gif) no-repeat -141px 0;display:inline-block;text-align:center;line-height:22px;color:#333;position:relative;}
a.perRegist:hover{background-position:-75px 0;}

.make_select .nopad{padding:0;}
.make_select .nobg{background:#fff;}
.make_select .z_w80 ul{text-align:left;width:98px;}
.sltWidth{width:350px;}
.succeed{background:url(../../images/register/sucess.png) no-repeat;float: none;height: 16px;padding: 3px;position: absolute;right: 3px;top: 11px;width: 16px;}
#hncompanyarea_succeed{right:400px;top:15px;}
.form .h52{height:52px;}
.sex{color:#757575;}
.sex label { margin-right:10px;}
.form .radio{margin-top:-2px;margin-right:2px;}
.others{padding-left:140px;color:#333; clear:both;}
.agreeRegist{width:285px;height:37px;color:#fff; font-size:18px;background:#ff6907;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;border-radius:3px url(../media/Images/register-submit.gif) no-repeat 0 -233px;display:inline-block;}
.gray_agreeRegist{background-position:0 -362px;} /*灰色  立即注册*/
.agree_out{margin:22px 0 21px 0;}
/*鼠标滑过出现层*/
.ygRegist{position:relative;}
.hv_show{position:absolute;background:url(../../images/register/hv.png) no-repeat;width:646px;height:463px;right:55px;top:-322px;z-index:999;}
.nowSq{background:url(../../images/register/sqHv.png) no-repeat;width:530px;height:306px;position:absolute;left:490px;top:490px;z-index:999;}
.aZindex{z-index:1000;}

/*footer*/
.footer{width:100%;}
.ft_con{width:1000px;margin:24px auto;text-align:center;font-size:12px;color:#333;padding-top:0;}
.ft_con p{margin-top:8px;}
.company{width:466px;height:40px;background:url(../../images/register/ftimg.gif) no-repeat;margin:0 auto;}
.company a{width:108px;height:40px;display:inline-block;margin-right:11px;}
.company .cswz{margin-right:0;}

.form .hide{display:none !important}
/*边框变绿色*/
.form .greenBd{border:1px solid #33cc33;}
.form .redBd{border:1px solid #e60011;}

/*注册成功*/
.succeedCon{border-top:1px solid #ccc;}
.comment{width:486px;margin:0 auto;}
.con_dtl{text-align:center;}
.suc_tle{width:152px;height:43px;background:url(../../images/register/suc.gif) no-repeat;display:inline-block;vertical-align:middle;margin-left:120px;}
.back{height:43px;display:inline-block;line-height:62px;margin-left:15px;}
.con_dtl p{font-size:12px;color:#333; line-height:20px;}
.nextOption{height:129px;background:url(../../images/register/option_bg.gif) no-repeat;margin:23px auto 0;}
.nextOption a{width:231px;height:59px;display:inline-block;margin-right:11px;margin-bottom:10px;float:left;}
.suc_tishi{text-align:center;font-size:12px;margin-top:9px;margin-bottom:53px;}


/*mm*/
/*员工注册*/
.staff_title span{height:18px;width:75px;background:url(../../images/register/tleFont.png) no-repeat 0 -49px;display:inline-block;margin:10px 0 0 35px; }
.application{ width:72px; height:32px; display:inline-block; background:url(../media/Images/register-submit.gif) no-repeat -238px -28px;text-align:center;line-height:32px;color:#757575;font-size:12px; cursor:pointer;position:relative;}
.application:hover{background:url(../../images/register/bgs.gif) no-repeat -320px -28px;}
.zm_bot{ height:36px; width:284px; border:1px solid #ccc;border-right:none;}
.textw246{ height:36px; width:239px; padding-left:7px; line-height:36px; float:left; color:#757575; }
.but_search{ float:left; height:36px; width:38px; background:url(../../images/register/bgs.gif) no-repeat -119px -103px; cursor:pointer;}


.form .botno{ border:none;}
.item_span{ font-size:12px; margin-left:8px;}
.item_span a{ margin-left:6px;}
.item_num{ position:relative;}
.item_num b{ font-weight:normal; float:left; margin:0 6px;}
.item_num span{ float:left; height:32px; width:32px; background:url(../../images/register/bgs.gif) no-repeat -238px -102px; text-align:center; line-height:32px; font-size:14px; font-weight:bold; color:red;}
.acc_span{ margin-right:8px;}
.form .text_140{ width:140px;}
.w176{ width:176px;}



/*列表*/
.yg_tab{ width:828px; margin-left:140px; border:1px solid #ccc;}
.yg_tab dl{ border-bottom:1px solid #ccc; font-size:12px; text-align:left;}
.yg_tab dl.no { border-bottom:none;}
.yg_tab dl dt{ height:38px; background:#f7f7f8; padding-left:18px; line-height:38px; font-weight:bold;}
.f_eb6100{ color:#eb6100; font-size:14px;}
.yg_tab dl dt font,.yg_tab dl dt font img{ float:left;}
.yg_tab dl dt font img{ margin:10px 3px 0 6px; display:inline-block;}
.yg_tab dl dd{ height:48px; padding-left:18px;}
.yg_tab dl dt a{ float:right; height:26px; width:106px; background:url(../../images/register/bgs.gif) no-repeat 0 -107px; text-align:center; line-height:26px; margin: 6px 7px 0 0; color:#757575; font-weight:normal;}
.yg_tab dl dd span{ text-align:left; float:left; height:48px; line-height:48px; margin-right:30px;}
/*页码*/
.page{ height:26px; margin:20px 0 0 0; float:right;}
.page a{ height:24px; padding:0 8px; float:left; border:1px solid #ccc; margin-left:4px; text-align:center; line-height:24px; color:#333;}
.page a:hover{ border:1px solid #044985;}
.page a.curr { border:1px solid #044985; font-weight:600; color:#044985;}
.page a img{ margin-top:8px;}
.page span{ float:right; margin:0 16px 0 4px; line-height:24px;font-size:12px;}
.text_w36{ height:24px; width:33px; display:inline-block; border:1px solid #ccc; margin:0 4px; line-height:24px;}
.button_w38{ float:right; height:26px; width:46px; background:url(../../images/register/bgs.gif) no-repeat -180px -102px; line-height:22px; text-align:center; color:#333;}







.hide{ display:none;}



/*员工注册弹出*/
#mask{position:absolute;left:0px;top:0px;z-index:1000;display:none;width:100%;background:#333;filter:Alpha(opacity=30);-moz-opacity:0.3;opacity:0.3; margin:0px;padding:0px;}
.tan {position:fixed;_position:absolute; top:30%;left:35%;display:none;z-index:100000;margin:0;padding:0px;}
#t1,#t2,#t3,#t5{ width:460px; background:#fff; border:10px solid #939393;}
.tan h4{ width:440px; height:40px; line-height:40px; color:#fff; background:#ff6600; font-size:12px; padding:0 0 0 20px; font-size:14px; text-align:left; font-weight:bold;}
.tan h4 span{ height:19px; width:72px; float:left; background:url(../../images/register/tleFont.png) no-repeat 0 -72px; margin-top:11px;}
.tan h4 a{ float:right; height:40px; width:46px; background:url(../../images/register/pop_line.gif) no-repeat left;}
.tan h4 img{ width:19px; height:17px; float:right; margin:12px 15px 0 0; cursor:pointer}
.contentbox{ padding:0 40px 15px; border:1px solid #cccccc; border-top:none;font-size:12px;color:#333333;}
.contentbox td{ padding-top:16px;  }
.contentbox td p{ line-height:18px;}
.contentbox th{ font-weight:normal; text-align:right; vertical-align:center; padding-top:16px; }
.text_w249{ height:28px; width:244px; border:1px solid #cccccc; margin-left:5px; padding-left:5px; line-height:18px; color:#333;}
.pop_btn{ height:35px; width:100px; background:url(../../images/register/bgs.gif) no-repeat 0 0; cursor:pointer;}
.pop_btn1{ background-position:0 -285px; margin:0 12px 0 82px;}
.pop_btn2{ background-position:-112px -285px;}
.pop_btn3{ background-position:0 -445px;}
.pop_btn4{ background-position:-112px -445px;}
.text_borno{ border:none; padding-left:0;}
.pop_blue{ color:#003399}
.pop_mt110{ margin-left:110px;}
#t4{ width:920px; background:#fff;}
#t4 h2{ height:28px; background:url(../../images/register/pop_tbj.gif) repeat-x; text-align:center; line-height:28px; color:#333; font-size:14px; font-weight:bold;}
.ty_con{ border:1px solid #c4c4c4; border-top:none;}
.pop_h400{ height:400px; overflow:auto;padding:20px 30px;line-height:26px;}
.pop_h400 p{text-indent:20px;}
.ty_btn{ height:35px; width:285px; color:#fff; font-size:18px;background:#ff6907;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;border-radius:3px  background:url(../../images/register/bgs.gif) no-repeat 0 -403px; color:#fff; font-size:14px; font-weight:bold; margin:10px 0 10px 316px; cursor:pointer;}


.yg_option{background:url(../../images/register/yg_option.gif) no-repeat; height:59px;}
.gr_option { background: url(../../images/register/gr_option.gif) no-repeat;height: 59px;}

.comTitle span,.comTitle a.tab {height:31px;padding:0 24px;display:inline-block; *display:inline; zoom:1; font:100 18px/48px "黑体"; color:#3c3c3c;}
.comTitle span,.comTitle a.tab:hover { text-decoration:none;}
.zybr1,.zyblr{ border-right:1px solid #e1e1e1; background:#fff;}
.zyblr { border-left:1px solid #e1e1e1;}
.contentbox table td{width:300px;}
.form select{border: 1px solid #CCCCCC;color: #999999;font-family: arial,"宋体";font-size: 14px;height: 34px;margin-top: 5px;overflow: hidden;padding: 6px 0;}

/*shx0718*/
.w150{width:150px;}
.d-select input.slt-input2{height:26px;}
.change2{_margin-top:10px;}

/* wxm 8.15 */
.gt_bg { background: url("../../images/register/tsb.gif") no-repeat scroll left center transparent; color: #333333; float: left; font-size: 14px; font-weight: bold; height: 60px;  margin: 40px 0 0 10px; padding-left: 110px;  padding-top: 46px;}

/* wxm 9.13 */
.Validform_checktip2{line-height:20px; height:20px; overflow:hidden; color:#999; font-size:12px; margin-left:5px;}
.Validform_right2{color:#71b83d;	padding-left:20px; white-space:nowrap; background:url(../../images/register/right.png) no-repeat left center;}
.Validform_wrong2{color:red;	padding-left:20px; white-space:nowrap; background:url(../../images/register/error.png) no-repeat left center;}
.Validform_loading2{	padding-left:20px; background:url(../images/register/onLoad.gif) no-repeat left center;}
.Validform_error2{background-color:#ffe7e7;}
#Validform_msg2{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg2 .iframe2{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg2 .Validform_title2{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg2 a.Validform_close2:link,#Validform_msg2 a.Validform_close2:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg2 a.Validform_close2:hover{color:#cc0;}
#Validform_msg2 .Validform_info2{padding:8px;border:1px solid #000; border-top:none; text-align:left;}

.form .error123{background:url(../../images/register/bgs.gif) no-repeat 0 -486px;width:274px;height:38px;color:#e60011;position: absolute;right: -320px;top: 0;padding:0 10px 0 30px;font-size:12px;line-height:38px;}
.no_access {color: #FF0000; height:38px; line-height:38px; text-align:center;}

/* wxm 11.06 add */
.w800,#comInfo { width:800px; float:left;}
.service_con { padding-bottom:15px;}
#show_m3 { padding-top:0;}

.ygzc_jdt { width:880px; height:68px; background:url(../../images/register/jdt_bg.jpg) no-repeat left bottom; position:relative; margin:0 auto 30px; color:#757575;}
.ygzc_jdt p.step1 { position:absolute; left:45px; top:0;}
.ygzc_jdt p.step2 { position:absolute; left:360px; top:0;}
.ygzc_jdt p.step3 { position:absolute; left:610px; top:0;}

.fontb14 { font:14px; font-weight:600; line-height:45px;}
.fontb { font-size:14px; font-weight:600;}
.textL { text-align:left;}

.yg_option2{background:url(../../images/register/yg_option2.gif) no-repeat;}


/* 扫描二维码 wxm 2014.2.13 */
.special_code{float:left;margin:9px 0 15px 34px;position:relative;width:120px; text-align:center; color:#757575;}

.special_code img.img1 { margin:14px auto;}
.special_code img.img2 { margin:0 4px 4px;}

.nextOption2{height:212px;background:url(../../images/register/option2.gif) no-repeat;margin:23px auto 0;}
.nextOption2 a{width:231px;height:59px;display:inline-block;margin-right:11px;margin-bottom:10px;float:left;}


/* 灰色通用按钮 */
.search_bj{ line-height:24px;  padding-left:12px; background:url(../../images/search_bj.jpg) no-repeat left 0; text-align:center;}
.search_bj em{ height:24px;line-height:24px; background:url(../../images/search_bj.jpg) no-repeat right 0; padding-right:12px; display:block;}
.search_bj:hover{background:url(../../images/search_hbj.jpg) left 0; text-decoration:none;}
.search_bj:hover em{background:url(../../images/search_hbj.jpg) right 0; color:#3c3c3c;}

/* wxm 2014.5.21 */
.tck_panelWarn{width:275px;height:40px;background:#fdf1db;color:#888;display:inline-block;padding:3px 5px 5px; line-height:20px;}
.mb20{margin-bottom:20px;}

/* wxm 2014.5.23 add */
.teng_reg_btn { float:left; height:41px;margin-left: 20px; cursor:pointer;}


/* 企业个人注册成功页面修改 wxm 2014.8.13 */
.success_tit { float:left; position:relative; width:958px; height:30px; border-bottom:2px solid #e6e6e6; margin:20px 0 0 20px;}
.success_tit .title { position:absolute; left:0; bottom:-2px; color:#f60; font:600 14px/30px "宋体"; padding:0 20px; border-bottom:2px solid #f60;}
.w958{width:958px; margin-left:20px; float:left; zoom:1; /*overflow:hidden;*/}
.pbm40 { padding-bottom:40px;}
.bor_bt { border-top:1px dashed #e6e6e6; padding-top:20px;}
.font16 { color:#333; font:100 16px/30px "微软雅黑";} 
.ml102 { margin-left:102px;}
.ml176 { margin-left:176px;}
.cgsj_btn{ height:35px; width:285px; background:url(../../images/bgs.gif) no-repeat 0 -403px; color:#fff; font:100 20px/35px "微软雅黑"; cursor:pointer; text-align:center; display:inline-block; *display:inline; zoom:1;}
.lh30 { line-height:30px;}
.yellow_f16 { color:#f60; font:600 14px/30px "宋体";}

/* 最新供应 */
.s-listL-ul{width:150px; height: 180px; padding:0 20px; float:left; padding-top:20px;overflow:hidden; display:inline-block; *display:inline; zoom:1;}
.s-listL-ul li { line-height: 20px; overflow: hidden; position: relative; width: 150px;}
.s-listL-ul li a.name{ width:150px; white-space:nowrap; overflow:hidden; margin-top:6px; color:#3c3c3c;line-height:20px; display:inline-block; text-align:center;}
.s-listL-ul li a.name:hover { color:#f60;}
.s-list-w150{width:150px;}
.m_hw150 { display: table-cell; height: 150px; overflow: hidden; text-align: center; vertical-align: middle; width: 150px;}
.m_hw150 a { display: block; width: 150px;}
.m_hw150 a img { max-height: 150px; max-width: 150px; vertical-align: middle;}

/* 最新采购 */
.b-D-w223{ float:left;width:221px;margin:20px 9px 0; color:#444;}
.b-D-w221{border:1px solid #dfdfdf;border-bottom:none;padding:10px 10px 0;width:201px;overflow:hidden;height:236px;min-height:236px;}
.b-D-w221 h3{height:30px;line-height:30px;font-size:14px;font-weight:600;}
.b-D-w221 dl{height:147px;min-height:147px;}
.b-D-w221 dl dt{float:left;line-height:26px;}
.b-D-w221 dl dd{float:left;width:157px;line-height:26px;}
.b-D-w221 dl dd span{color:#fd7400;}
.b-D-w221 dl dd.b-d-w137{width:137px;}
.b-D-w221 .b-d-peopleNum{font-weight:600;color:#666;font-size:14px;line-height:30px;height:30px;}
.b-D-w221 .b-d-peopleNum span{color:#fd7400;font-size:24px;}
.b-D-w221Btn a{display:block;width:79px;height:25px;background:url(../../images/register/common.png) -166px -122px;text-align:center;line-height:25px;color:#fff;float:right;}
.b-D-w221Btn a:hover{color:#fff;}

/* 采购商升级弹出框 */
.order_pop{background:#e8e8e8;behavior:url(../../js/register/PIE.htc);-webkit-box-shadow:0 2px 8px 4px #cfcfcf;-webkit-box-shadow:0 2px 8px 4px #cfcfcf;
box-shadow:0 2px 8px 4px #cfcfcf; margin:0 auto; overflow:hidden;zoom:1;}
.w470{ width:470px; padding:0 10px 0;}
.order_pop_tit{ height:44px; line-height:44px;}
.order_pop_tit span{ color:#000; font-size:14px; font-weight:bold;}
.order_pop_tit a{ height:21px; width:21px; float:right; background:url(../../images/order_closebtn.png) no-repeat; margin-top:10px;}
.order_pop_tit a:hover{ background-position:0 bottom;}
.order_popcon{ padding:10px; border:1px solid #cecece; background:#fff; width: 478px;}

a.blue_btn_h28{ height:28px; width:78px; line-height:28px; background:#51b7ec; border:1px solid #3bade5; color:#fff;font-size:14px; font-weight:bold;text-align:center; display:inline-block; *display:inline; zoom:1;}
a.blue_btn_h28:hover{ height:28px; width:78px;line-height:28px; background:#2facdf; border:1px solid #3399cc; color:#0088bb;font-size:14px; font-weight:bold;text-align:center; text-decoration:none;}

/*2015.4.13 change*/
.price_icon_s{height:16px;width:16px;background:url(../../images/register/price_icon1.png) no-repeat; display:inline-block;position:relative;top:2px;left:-30px;vertical-align:top;}
.price_icon_s:hover{background-position:0 bottom;}
.gr_option{background:url(../../images/register/gr_option.gif) no-repeat; height:59px;} 
.b-D-w221Btn a:hover{color:#fff;}
/*------------2015tk-------------------------------*/
/* 弹出窗样式 */
.tk-bg{background:#fff;color:#3c3c3c}
.w380{width:380px;padding:0 10px 10px;margin-left:-200px;}
.w412{width:412px;padding:0 10px 10px;margin-left:-216px;}
.popMask{position:absolute;background:#000;opacity:0;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;width:100%;height:100%;}
.order_pop_s{position:absolute;z-index:10000;left:65%;top:307px;background:#e8e8e8;-webkit-box-shadow:0 2px 8px 4px #cfcfcf;-webkit-box-shadow:0 2px 8px 4px #cfcfcf;box-shadow:0 2px 8px 4px #cfcfcf;zoom:1;}
.order_remind{width:336px;margin:10px auto}
.order_remind p{ line-height:18px;}
.text-indent{text-indent:12px}
.titRemind{ padding-left:95px;font-size:14px; font-weight:bold;letter-spacing:auto;}
.pRemind{padding:12px 0 21px 23px}
.pRemind-c{ padding-left:23px;line-height:19px;}
.w_pop{width:auto}
.pb10{padding-bottom:10px}
.none{display: none !important}