@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, img, th, td{margin:0;padding:0;font-size:12px;font-weight:100;color:#3c3c3c}
/*body{font:12px/18px Arial,"SimSun","\5b8b\4f53";font-family:'SimSun';-webkit-text-size-adjust:none;word-wrap:break-word;color:#3c3c3c;background:#FFF;_background-image:url(about:blank);_background-attachment:fixed;}*/
/*useful--有用到的ＣＳＳ*/
h1, h2, h3, h4, h5, h6{font-size:14px;font-weight:normal;}
a{text-decoration:none;color:#3c3c3c;outline:none;}
a:hover{text-decoration:none;outline:none;/*zoom:1;*/color:#0088cc;text-decoration:underline;}
a:active{star:expression(this.onFocus=this.blur());}
a.blue{color:#0066cc;}
a.blue:hover{color:#ff6600;text-decoration:underline;}
table{border-collapse:collapse;border-spacing:0;}
input, button, select, textarea{outline:none;vertical-align:middle;*font-size:100%;}
/*input{_border:1px solid none;*border:0;}*/
input[type=text]:focus{border:1px solid #339933!important;}
input[type=button]{border:1px solid none;border:0;}
/*input[disabled=""]:focus{border:1px solid #e6e6e6\9;}
input[disabled=""]{background-color:none\9;}
input[disabled="disabled"]:focus{border:1px solid #e6e6e6!important;}
input[disabled="disabled"]{background-color:#f0f0f0!important;}
*/
/*input,select,textarea{ color:#aaa}*/
textarea:hover{border:1px solid #339933!important;}
img, input{vertical-align:middle;}
img{border:none;}
textarea{resize:none;overflow:auto;}
em, i{font-style:normal;}
.cls{font:0/0 Arial;height:0;clear:both;}
ul, ol, li{list-style:none;}
s{text-decoration:none;}
/*font*/
.fontRed{font-style:normal;display:inline-block;color:#fd1717;}
.fontBlue{font-style:normal;color:#03c;}
.fontGray{font-style:normal;color:#999}
.fontGray6{font-style:normal;color:#666}
.fontOrange{font-style:normal;color:#F60;}
.fontGreen{color:#009900;}
.fontBlod{font-style:normal;font-weight:600;}
.font14{font-size:14px;}
.font18{font-size:18px;}
.yahei{font-family:"Microsoft YaHei", "\5fae\8f6f\96c5\9ed1"}/* 头部、左侧、底部、一级标题*/
.farial{font-family:Arial;}
.cf_f60, a.cf_f60{color:#f60;}
.c-08c{ color:#0088cc}
.c-c60{ color:#cc6600;}
.cf_06c, a.cf_06c{color:#06c;}
.cf_06c:hover, a.cf_06c:hover{color:#f60;}
.cf_09c, a.cf_09c{color:#09c;}
.cf_09c:hover, a.cf_09c:hover{color:#f60;}
.cf_ff0{color:#ff0000;}
.cf_3c{color:#3c3c3c!important}
.cf_0089ca{color:#0089ca;}
.h4{font:600 14px/20px "Microsoft YaHei"}
.songti{ font-family:"SimSun";}
/* text */
.textR{text-align:right;}
.textC{text-align:center!important;}
.textL{text-align:left!important}
/* css float */
.clear{height:0px;line-height:0px;font-size:0;clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
*+html .clearfix{overflow:hidden;}
* html .clearfix{height:1%;}
.f-cb{*zoom:1;}
.f-prz{position:relative;zoom:1;}
.f-pra{position:absolute;}
.f-lay{font-size:0;letter-spacing:-8px;text-align:left;}
.f-ib{display:inline-block;*display:inline;*zoom:1;vertical-align:top;font-size:12px;letter-spacing:normal;}
.f-bold{font-weight:bold;}
.f-f14{font-size:14px;}
.fl, .f-fl{float:left;display:inline;}
.fr, .f-fr{float:right;display:inline;}
.position{position:relative;}
.none{display:none}
.displayl{display:inline}
.wrapper{width:1000px;margin:0 auto;zoom:1;overflow:hidden;}
/*border*/
.border{border:1px solid #e6e6e6;}
/*margin padding*/
.mt145{ margin-top:145px;}
.m10{margin:10px!important;}
.m10-0{margin:10px 0!important;}
.m0-20{margin:0 20px!important;}
.mt2{margin-top:2px!important;}
.mt3{margin-top:3px!important;}
.mt5{margin-top:5px!important;}
.mt7{margin-top:7px!important;}
.mt8{margin-top:8px!important;}
.mt10{margin-top:10px!important;}
.mt-10{margin-top:-10px!important;}
.mt12{margin-top:12px!important;}
.mt14{margin-top:14px!important;}
.mt15{margin-top:15px!important;}
.mt17{margin-top:17px!important;}
.mt18{margin-top:18px!important;}
.mt20{margin-top:20px!important;}/* 弹出框按钮、*/
.mt25{margin-top:25px!important;}
.mt30{margin-top:30px!important;+margin-top:30px!important}
.mt35{margin-top:35px!important;}
.mt38{margin-top:38px!important;}
.mt50{margin-top:50px!important;}
.mt40{margin-top:40px!important;}
.mt60{margin-top:60px!important;+margin-top:60px!important;}
.mt45{margin-top:45px!important;}
.mt64{margin-top:84px!important;}
.mt100{margin-top:10px!important;}/* 弹出框按钮、浮动层*/
.mt102{margin-top:102px!important;}
.mt158{margin-top:158px!important;}/* 销售首页*/
.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important;}
.mb15{margin-bottom:15px!important;}
.mb8{margin-bottom:8px!important;+margin-bottom:8px!important;margin-bottom:8px}
.mb12{margin-bottom:12px!important;}
.mb14{margin-bottom:14px!important;}
.mb20{margin-bottom:20px!important;}
.mb3{margin-bottom:3px!important;}
.mb50{margin-bottom:50px!important;}
.mb70{margin-bottom:70px!important;}
.mr28{ margin-right:28px!important;}
.mr22{ margin-right:22px!important;}
.ml0{margin-left:0px!important;}
.ml3{margin-left:3px!important;}
.ml5{margin-left:5px!important;}
.ml-6{margin-left:-6px!important;}
.mt-3{margin-top:-3px!important;+margin-top:0px!important;}
.ml6{margin-left:6px!important;}
.ml7{margin-left:7px!important;}
.ml10{margin-left:10px!important;}
.ml17{margin-left:17px!important;}
.ml15{margin-left:15px!important;}
.ml18{margin-left:18px!important;}
.ml20{margin-left:20px!important;}
.ml17{ margin-left:17px!important;}
.ml25{margin-left:25px!important;}
.ml26{margin-left:26px!important;}
.ml30{margin-left:30px!important;+margin-left:30px!important;}
.ml34{margin-left:34px!important;}
.ml35{margin-left:35px!important;}
.ml38{margin-left:38px!important;}
.ml105{margin-left:105px!important;}
.ml40{margin-left:40px!important;}
.ml42{margin-left:42px!important;}
.ml45{margin-left:45px!important;}
.ml50{margin-left:50px!important;}
.ml62{margin-left:62px!important;}
.ml65{margin-left:65px!important;}
.ml219{margin-left:219px!important;}
.ml230{margin-left:230px!important;}
.ml14{margin-left:14px!important;}
.ml11{ margin-left:11px!important;}
.ml70{margin-left:70px;}
.ml135{margin-left:135px!important;+margin-left:80px!important;}
.mr5{margin-right:5px!important;}
.mr0{margin-right:0px!important;}
.mr7{margin-right:7px!important;}
.mr10{margin-right:10px!important;}
.mr14{margin-right:14px!important;}
.mr15{margin-right:14px!important;}
.mr20{margin-right:20px!important;}
.mr25{margin-right:25px!important;}
.mt0{margin-top:0!important;}
.mb0{margin-bottom:0!important;}
.m05{margin:0 5px;}
.pd20{ padding:20px !important;}
.pl5{padding-left:5px!important;}
.pl10{padding-left:10px!important;}
.pl11{padding-left:11px!important;}
.pl15{padding-left:15px!important;}
.pl20{padding-left:20px!important}
.pl13{padding-left:13px!important;}
.pl35{padding-left:35px!important}
.pl45{padding-left:45px!important}
.pl24{padding-left:24px!important}
.pl60{padding-left:60px}
.pl100{padding-left:100px;}
.pb5{padding-bottom:5px!important}
.pb10{padding-bottom:10px!important}
.pb14{padding-bottom:14px;}
.pb18{padding-bottom:18px!important;}
.pb14{padding-bottom:14px!important;}
.pb18{padding-bottom:18px;}
.pb20{padding-bottom:20px;}
.pb23{padding-bottom:23px}
.pb40{padding-bottom:40px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px !important;}
.pb4{padding-bottom:4px !important;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr45{padding-right:45px!important}
.plr25{padding-left:25px;padding-right:25px;}
.pt5{padding-top:5px !important}
.pt10{padding-top:10px!important}
.pt18{padding-top:18px!important;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px!important;}
.pt22{padding-top:22px;}
.pt21{padding-top:21px!important;}
.pt28{padding-top:28px!important}
.pt30{padding-top:30px;}
.pt55{padding-top:55px!important;}
.pt35{padding-top:35px;}
.w44{width:44px}
.pt0{padding-top:0px!important;}
.h74{height:74px!important}
/* line-height */
.lineH20{line-height:20px;}
.lineH30{line-height:30px;}
.lineH32{line-height:32px;}
.lineH34{line-height:34px;}
/*link*/
a.linkBlue:link, a.linkBlue:visited{color:#03c}
a.linkBlue:hover, a.linkBlue:active{color:#03c;}
a.linkBlue2:link, a.linkBlue2:visited{color:#044985}
a.linkBlue2:hover, a.linkBlue2:active{color:#044985;}
a.linkBlue3:link, a.linkBlue3:visited{color:#044985;text-decoration:underline;}
a.linkBlue3:hover, a.linkBlue3:active{color:#044985;}
a.linkOrange:link, a.linkOrange:visited{color:#f60}
a.linkOrange:hover, a.linkOrange:active{color:#f60;}
a.linkGray:link, a.linkGray:visited{color:#666;text-decoration:underline}
a.linkGray:hover, a.linkGray:active{color:#f60;}
a.linkRed:link, a.linkRed:visited{color:#fd1717;text-decoration:underline}
a.linkRed:hover, a.linkRed:active{color:#fd1717;}
a.linkRed2:link, a.linkRed2:visited{color:#fd1717;}
a.linkRed2:hover, a.linkRed2:active{color:#fd1717;}
a.linkBlue4:link, a.linkBlue4:visited{color:#0088cc;}
a.linkBlue4:hover, a.linkBlue4:active{color:#f60;}
a.bai:link, a.bai:visited{color:#fff;cursor:pointer}
a.bai:hover, a.bai:active{color:#fff;}
/* 按钮间距 */
.btn_p9{padding-left:9px;}
.btn_p9 em{padding-right:9px;}
/* 灰色通用搜索按钮 */
.search_bj{line-height:24px;background:url(../media/Images/search_bj.jpg) no-repeat left 0;text-align:center;}
.search_bj em{height:24px;line-height:24px;background:url(../media/Images/search_bj.jpg) no-repeat right 0;display:inline-block;}
.search_bj:hover{background:url(../media/Images/search_hbj.jpg) left 0;text-decoration:none;}
.search_bj:hover em{background:url(../media/Images/search_hbj.jpg) right 0;color:#3c3c3c;}
/* 灰色直角按钮 */
.search_bj2{line-height:26px;padding-left:12px;background:url(../media/Images/add_btnbj.jpg) no-repeat left 0;text-align:center;}
.search_bj2 em{height:26px;line-height:26px;background:url(../media/Images/add_btnbj.jpg) no-repeat right 0;padding-right:12px;display:block;color:#0088cc}
.search_bj2:hover{background:url(../media/Images/add_btnhbj.jpg) left 0;text-decoration:none;}
.search_bj2:hover em{background:url(../media/Images/add_btnhbj.jpg) right 0;}
/*蓝色按钮*/
.w80Btn{padding:0 20px;height:28px;line-height:30px;text-align:center;font-weight:bold;font-size:14px;display:inline-block;}
.confirmBtn{background:#51b7ec;border:1px solid #3bade5;color:#fff;}
.confirmBtn:hover{background:#2facdf;color:#0088bb;border:1px solid #3399cc;text-decoration:none;}
.cancelBtn{background:#eaeaea;border:1px solid #ddd;color:#757575;}
.cancelBtn:hover{border:1px solid #e1e1e1;color:#3c3c3c;text-decoration:none;}
/*蓝色按钮2*/
.cancelBtn2{border:1px solid #fff;color:#757575;}
.cancelBtn2:hover{border:1px solid #e1e1e1;color:#3c3c3c;text-decoration:none;}
/* 黄色通用按钮 useful*/
a.orange_btn{height:22px;width:62px;background:#f93;border:1px solid #fb883b;color:#fff;display:inline-block;line-height:22px;text-align:center;}
a.orange_btn:hover{background:#ee8800;border:1px solid #dd6600;color:#cc6600;display:inline-block;text-decoration:none}
/* 橙色数字背景 */
.yellow_bg{right:30px;position:absolute;top:2px;width:16px;height:16px;line-height:16px;text-align:center;background:url(../media/Images/num_bg.png) no-repeat;color:#fff;display:inline-block;*display:inline;
zoom:1;z-index:150}
.yellow_bg.lh10{line-height:10px;}
/*蓝色按钮3 采购中心　useful*/
.jy_blue_btn{padding:0 10px;background:#51b7ec;height:22px;line-height:22px;text-align:center;color:#fff;border:1px solid #3bade5;display:inline-block;zoom:1;}
.jy_blue_btn:hover{background:#2facdf;color:#0088bb;text-decoration:none;border:1px solid #3399cc;}
/*灰色按钮3 付款　useful*/
.btn_eaeaea{padding:0 10px;width:42px;background:#eaeaea;height:22px;line-height:22px;text-align:center;color:#757575;border:1px solid #e1e1e1;display:inline-block;zoom:1;}
.btn_eaeaea:hover{text-decoration:none;color:#999;background-color:#e1e1e1;border:1px solid #d4d4d4}
.btn_eaeaea-a{background:#f8f8f8;height:28px;line-height:28px;color:#757575;text-align:center;border:1px solid #efefef;display:inline-block;zoom:1;}
.btn_eaeaea-a:hover{background:#e1e1e1;border:1px solid #d4d4d4;color:#999;text-decoration:none;}
/*黄色按钮 */
.new_addbut{background:none repeat scroll 0 0 #ff9933;border:1px solid #fb883b;color:#fff!important;display:inline-block;font-size:16px;font-weight:bold;height:34px;line-height:34px;line-height:38px\9;+line-height:38px;
padding:0 30px;}
.new_addbut:hover{text-decoration:none;color:#ff661b!important}
/*蓝色按钮 */
.ablue{color:#0088cc!important;text-decoration:none;}
.ablue:hover{color:#ff6600!important;text-decoration:underline}
/*评价*/
.evaluation_img{height:14px;background:url(../media/Images/evaluation.png) no-repeat;padding-left:19px;}
.evaluation_img:hover{height:14px;background:url(../media/Images/evaluation-h.png) no-repeat;padding-left:19px;}
/*top*/
.top_out{background:#fff;width:100%;margin:0 auto;position:fixed;z-index:99999;top:0;left:0;/*border-bottom:1px solid #dfdfdf;*/}
.top_top{overflow:hidden;width:100%;}
.top-1{height:37px;width:100%;margin:0 auto;background:#fafafa;border-bottom:1px solid #dfdfdf;}
.top-1-L{height:37px;line-height:37px;letter-spacing:1px;color:#666;}
.top-1-L p{float:left;line-height:37px;height:37px;}
.top-1-L .user{float:left;color:#666666;line-height:37px;height:37px;background:url(../../media/Images/down.png) no-repeat right center;padding:0 20px 0 8px;margin-right:8px;border-right:1px solid transparent;border-left:1px solid transparent;position:relative;zoom:1;z-index:9999;cursor:pointer}
.top-1-L .user.z-hov{height:38px;background:#fff url(../../media/Images/up.png) no-repeat right center;border-right:1px solid #e6e6e6;border-left:1px solid #e6e6e6;z-index:110}
.top-1-L .user .hdbox{display:none}
.top-1-L .user.z-hov .hdbox{position:absolute;left:-1px;top:38px;border:1px solid #e6e6e6;border-top:none;width:216px;height:60px;background:#FFF;padding:10px;display:block;z-index:1;}
.top-1-L .user.z-hov .hdbox .imgbox{width:60px;height:60px;overflow:hidden;}
.top-1-L .user.z-hov .hdbox .cnt{padding-left:10px;width:146px;line-height:18px}
.top-1-L .user.z-hov .hdbox .cnt .it{padding-bottom:3px;}
.top-1-L .user.z-hov .hdbox .cnt .it .set{color:#0066cc;}
.top-1-L .user.z-hov .hdbox .cnt .icon{display:block;margin-left:10px;display:block;}
.top-1-L a{color:#ff7200;}
.top-1-R li{float:left;height:37px;padding:0 6px;text-align:center;background:url(../../media/Images/topLiBg.jpg) no-repeat right center;cursor:pointer;_overflow:hidden;}
.top-1 .login{color:#ff6622;}
.top-1-L .regist{color:#666;}
.top-1-L .regist:hover{color:#ff6622;}
.top-1-R li a{color:#666;}
.top-1-R li a:hover{color:#f60;}
.top-1-R li .toSet a, .top-1-R li .shoppingListno a{color:#fff;}
.buy_order_icon{background:url(../media/Images/icons.png) no-repeat -7px -7px;height:15px;width:15px;float:left;vertical-align:middle;margin:12px 6px 0 0;}
.snMenu{padding:0 11px;position:relative;z-index:100;}
.topTwoBorder{display:inline-block;cursor:pointer;height:38px;}
.snMenu a span{display:inline-block;float:left;line-height:38px;}
.snMenu a b{width:9px;height:4px;background:url(../../media/Images/top_icon.gif) no-repeat 0 0;display:inline-block;overflow:hidden;margin:17px 0 0 6px;}
.snMenuHover{border:1px solid #dfdfdf;border-top:none;background:#fff;padding:0 10px;width:auto;z-index:1;}
.snMenuHover li{height:30px;}
.snMenuHover a span{display:inline-block;float:left;line-height:38px}
.snMenuHover a b{width:9px;height:4px;background:url(../../media/Images/top_icon.gif) no-repeat 0 -8px;display:inline-block;overflow:hidden;margin:17px 0 0 6px;}
.shoppingList{position:absolute;width:202px;border:1px solid #dfdfdf;border-top:none;padding:5px;left:-44px;background:#fff;top:38px;display:none;_left:-50px;}
.shoppingListCon{height:20px;padding:5px 0;}
.shoppingListCon p{float:left;height:20px;line-height:20px;width:100px;overflow:hidden;padding:0 5px;}
.shoppingListCon .num{height:20px;line-height:20px;margin-right:5px;display:inline-block;float:left;}
.shoppingListCon .num a{display:inline-block;width:15px;height:20px;text-align:center;line-height:20px;float:left;cursor:pointer;}
.shoppingListCon .num a:hover{text-decoration:none;}
.shoppingListCon .num input{float:left;width:33px;height:18px;line-height:18px;text-align:center;border:1px solid #7f9db9;}
.shoppingListCon .end{float:left;width:19px;height:20px;background:url(../../media/Images/common_01.png);overflow:hidden;}
.toSet{margin-top:10px;height:20px;}
.toSet a{height:18px;color:#fff;background:#dc0705;line-height:18px;font-size:12px;display:block;width:60px;margin:0 auto;}
.toSet a:hover{color:#fff;}
.shoppingListno{position:absolute;width:144px;border:1px solid #dfdfdf;border-top:none;padding:5px;left:-1px;background:#fff;top:38px;display:none;padding:26px 70px;_left:-11px;}
.shoppingListno p{height:28px;line-height:28px;color:#666}
.shoppingListno a{display:block;height:25px;width:109px;text-align:center;line-height:25px;color:#fff;font-weight:bold;background:url(../media/Images/top_abj.jpg) no-repeat;margin:15px 0 0 20px;}
.topBuyC{position:absolute;width:73px;border:1px solid #dfdfdf;border-top:none;padding:5px;left:-1px;background:#fff;top:38px;display:none;_left:-11px;_width:76px;}
.topBuyC a{height:25px;line-height:25px;display:inline-block;width:70px;}
.topBuyCno{position:absolute;width:276px;border:1px solid #dfdfdf;border-top:none;padding:5px;left:-1px;background:#fff;top:38px;display:none;_left:-11px;}
.topbuycon{width:82px;margin-left:10px;text-align:left;}
.topbuycon p{height:25px;line-height:25px;font-weight:bold;color:#666;}
.topbuycon ul li{height:25px;line-height:25px;width:82px;background:none;text-align:left;padding:0;overflow:hidden;}
.top-1-R li.li_height{line-height:38px;padding:0 14px;display:inline-block;}
/*head*/
.header{float:left;width:100%;height:50px;background:#336699;z-index:1;}
.nav{width:1000px;height:50px;margin:0 auto;}
.nav ul.menu li{float:left;}
.nav ul.menu li a:link, .nav ul.menu li a:visited{display:inline-block;font:100 18px/50px "Microsoft YaHei";color:#fff;width:150px;text-align:center;}
.nav ul.menu li.on, .nav ul.menu li a:hover, .nav ul.menu li a:active{display:inline-block;background:#ff6600;color:#fff;text-decoration:none;}
/* 头部搜索样式 */
.top-w1000{width:1000px;margin:0 auto;}
.top-search{width:543px;height:40px;background:url(../../media/Images/top_search_bg.gif) no-repeat;}
.top-search .search-select h5{display:block;width:113px;padding-left:6px;height:38px;font:100 12px/38px "SimSun";}
.top-search .search-select h5 span{display:inline-block;float:left;width:78px;padding:0 2px 0 4px;font:100 12px/38px "SimSun";cursor:pointer;text-align:center;}
.top-search .search-select h5 a{display:inline-block;float:left;height:13px;width:13px;padding:2px 6px;margin-top:12px;background:url(../media/Images/btn01.gif) no-repeat 0 center;}
.top-search .search-select-active{position:relative;}
.top-search .search-select .search-options{position:absolute;width:118px;top:38px;left:0;padding:2px 0;border:1px solid #ddd;border-top:1px solid #e6e6e6;background:#fff;display:none;z-index:100;}
.top-search .search-select .search-options a{margin:0 1px;display:block;height:24px;line-height:24px;padding-left:7px;width:109px;}
.top-search .search-select .search-options a:hover{background:#d2d7db;color:#3c3c3c;text-decoration:none}
.top-search .form{float:left;width:424px;height:40px;overflow:hidden;}
.top-search .form .keywords{float:left;width:376px;height:40px;font:100 12px/40px "SimSun";padding:0 4px;border:none;background:none;}
.top-search .form .search-btn{float:left;width:40px;height:40px;border:none;text-indent:-9999px;display:inline-block;cursor:pointer;background:none;}
.dlxx{float:right;height:16px;float:right;margin-top:6px;color:#fff;}
.name{width:16px;height:16px;background:url(../../media/Images/ico.png) no-repeat 0 -8px;display:inline-block;vertical-align:middle}
.notice03{width:18px;height:16px;background:url(../../media/Images/ico.png) no-repeat 0 -42px;display:inline-block;vertical-align:middle}
/*表单样式*/
.inptTxt{padding:0 3px;height:24px;line-height:24px;border:1px solid #e6e6e6;}
/* 左侧导航 */
.leftCont .tree li.disBl_t{display:block;}
.tree{z-index:100;}
.tree li{display:inline-block;width:100%;height:50px;font:100 18px/50px "Microsoft YaHei";color:#3c3c3c;background:url(../../media/Images/icon_saleC.png) no-repeat 10px 20px;overflow:hidden;cursor:pointer}
.tree li p{height:50px;padding-left:40px;background:url(../../media/Images/icon_line.jpg) repeat-x left bottom;font:100 18px/50px "Microsoft YaHei";}
.tree li.currS{background-position:10px -16px;border:none;}
.tree li.currS p{background:none;}
.tree li span{float:right;margin:24px 10px 0 0;background:url(../../media/Images/icon_saleC.png) no-repeat 0 -67px;width:3px;height:6px;display:inline-block;}
.tree li span.arrow_t{background-position:0 -90px;width:6px;height:3px;}
.tree li.h50{height:auto;display:none;padding-left:0;width:150px;}
.tree li.h50 a{float:left;height:40px;font:100 14px/40px "SimSun";display:inline-block;color:#757575;background:#f6f6f6;padding-left:40px;width:110px;text-align:left;border:none;}
.tree li.h50 a:hover{color:#ff6600;text-decoration:none;}
.tree li.h50 a.curt{ width:100%;  color:#ff6600;text-decoration:none;background:url(../../media/Images/menu_bg.jpg) no-repeat left center;}
.leftCont .contant{display:inline-block;width:110px;padding:0 10px 10px;background:#eee;margin-left:10px;margin-top:20px}
.leftCont .tel{color:#757575;line-height:26px;}
.leftCont .font18{font:100 18px/36px "Microsoft YaHei";}
.tree li.curr{background-position:10px -46px;}
/* 会员中心左侧添加微信微博样式 wxm 2014.04.08 */
.wx_k{display:none;position:absolute;top:-62px;left:30px;width:136px;height:139px;background:url(../media/Images/wei_bg.png) no-repeat;padding:17px 0 0 16px;z-index:1000;}
/* 页脚 */
/*.footer{position:fixed;bottom:0;z-index:700;height:50px;width:100%;background:#336699;margin-top:10px;}*/
.footer{background:#336699;height:50px;margin-top:10px;position:absolute;width:100%;z-index:700;}
.footer p{text-align:center;font:100 14px/50px "Microsoft YaHei";color:#fff;}
/* page */
.m-page{text-align:right;}
.m-page li{margin-right:10px;}
.m-page li a{display:block;width:22px;height:22px;border:1px solid #e6e6e6;text-align:center;line-height:22px;}
.m-page li a.prev{background:url(../media/Images/page1.png) no-repeat 0 0;border:none;width:24px;height:24px;}
.m-page li a.next{background:url(../media/Images/page.png) no-repeat 0 0;border:none;width:24px;height:24px;}
.m-page li a.z-hov, .m-page li a:hover{color:#FFF;background:#486696;border:1px solid #395685;}
.m-page li a.next:hover{background:url(../media/Images/page.png) no-repeat -25px 0;border:none;}
.m-page li a.prev:hover{background:url(../media/Images/page1.png) no-repeat -25px 0;border:none;}
.m-page .jump{height:24px;}
.m-page .jump input{width:28px;height:22px;border:1px solid #e6e6e6;margin:0 5px;text-align:center;}
.m-page .jump span{display:block;line-height:24px;}
.m-page li .comfir{width:48px;height:24px;background:url(../media/Images/comfir.png) no-repeat;cursor:pointer;}
.m-page li .comfir:hover, .m-page li .comfir:active{background:url(../media/Images/confir-1.png) no-repeat;}
.m-page .noMargin{margin-right:0;}
.m-page li.z-hov a{color:#FFF;background:#c0392b;border:1px solid #a31001;}
/* 中间主内容框架样式 */
.leftCont{float:left;width:150px; padding:0;margin-right:10px;zoom:1;_Top:expression(documentElement.scrollTop);
background:#f6f6f6;}
.rightCont{float:right;width:840px;margin-bottom:-10000px;padding-bottom:10000px;/*内外补丁是关键*/}
.row{margin-left:0; margin-right:0;margin-bottom:-10000px;padding-bottom:10000px;/*内外补丁是关键*/}
.w827{width:827px;}
.w840{width:840px;}
/* rightCont 右侧公用头部样式 */
.peomes_h2{padding-left:10px;height:42px;color:#3c3c3c;line-height:42px;background:#f8f8f8;border:1px solid #efefef;font-size:14px;}
.peomes_h2 s{font-size:12px;color:#aaaaaa;text-decoration:none}
.tipsBox-style{border:1px solid #ffddb2;background:#ffffe0;}
.tipsBox-style p{height:28px;line-height:28px;}
.Wdate{background:url(../media/Images/date.png) no-repeat right -1px;}
.m_addp{height:30px;margin-bottom:6px;}
.m_addp span.yh-fb{margin-top:0px;}
.m_textw63{width:83px;}
.m_textw158{width:152px;}
.m_addp .btnGray2 span{margin-right:0;}
.mt_t5{margin-top:6px;+margin-top:3px;}
.lt_line{color:#e6e6e6;}
.lt_i{height:24px;line-height:24px;}
/* 点亮腾计划 */
.dltjh_off{position:fixed;left:0;top:170px;+top:170px;
display:none;width:31px;height:150px;background:url(../media/Images/dltjh.gif) no-repeat;z-index:2;}
.dltjh_on{position:fixed;left:42px;top:160px;+top:170px;
display:inline-block;width:117px;height:142px;z-index:1;background:url(../media/Images/tjh.gif) no-repeat;cursor:pointer;}
.dltjh_on a.teng_close{float:right;width:17px;height:12px;background:url(../media/Images/zs_close.png) no-repeat;cursor:pointer;display:none;margin:10px 4px 0 0;}
.dltjh_on a.teng_tanc{float:right;margin:46px 0 0 20px;width:120px;height:94px;display:inline-block;cursor:pointer;}
.jhmzs{position:absolute;left:50%;top:150px;width:546px;height:340px;margin-left:-273px;display:none;background:url(../media/Images/teng_bg.png) no-repeat;z-index:100;}
.jhmzs p.jhm{float:left;margin:186px 0 0 114px;font:100 14px/38px "SimSun";color:#333;}
.jhmzs p.jhm label, .jhmzs p.jhm span{float:left;+float:none;
height:40px;line-height:40px;display:inline-block;margin-top:0;padding-top:0;}
.jhmzs p.jhm span{color:#999;margin-left:10px;font-size:12px;}
.jhmzs p.jhm span.wrong{color:red;padding-left:18px;white-space:nowrap;background:url(../media/Images/error2.png) no-repeat left center;}
.jhmzs p.jhm input.tm_text{float:left;+float::none;
border:1px solid #ecc9a1;background:#ffe9d0;height:38px;width:154px;padding:0 4px;line-height:38px;margin-left:5px;font:100 14px/38px "SimSun";}
.jhmzs a.btn_sjm{display:inline-block;cursor:pointer;background:url(../media/Images/btn_sj.gif) no-repeat;width:90px;height:30px;margin:28px 0 0 215px;}
.jhmzs a.closex, .jhmzs_success a.closex{float:right;margin:38px 16px 0 0;width:18px;height:18px;display:inline-block;cursor:pointer;}
.jhmzs_success{position:absolute;left:50%;top:150px;width:547px;height:242px;margin-left:-273px;display:none;background:url(../media/Images/teng_success.png) no-repeat;z-index:100;text-align:center;}
/* 扫描二维码 wxm 2014.8.22 */
.special_code{position:fixed;left:40px;top:310px;width:120px;text-align:center;color:#757575;}
.special_code img.img1{margin:10px auto;}
.special_code img.img2{margin:0 4px 4px;vertical-align:middle;}
a.btnGray3{display:inline-block;height:24px;padding:0 0 0 24px;background:url(../media/Images/btn01-1.gif) no-repeat left -126px;vertical-align:middle;color:#757575;}
a.btnGray3 span{display:inline-block;height:16px;padding:4px 24px 4px 0;font:600 12px/16px "SimSun";cursor:pointer;background:url(../media/Images/btn01-1.gif) no-repeat right -126px;}
a.btnGray3:hover, .btnGray3:active{text-decoration:none;color:#f60;}
/* ------------会员信息　左侧导航　不要点击展开、--收起 2014-10-20 duhong-------------------*/
.members-tree{z-index:100;}
.members-tree li{display:block;height:50px;font:100 18px/50px "Microsoft YaHei";padding-left:40px;color:#3c3c3c;background:url(../media/Images/members-icon.png) no-repeat 10px 18px;overflow:hidden;}
.members-tree li.curr{background-position:10px -46px;}
.members-tree li.mh50{height:auto;display:block;padding-left:0;background:none}
.members-tree li.mh50 a{height:40px;font:100 14px/40px "SimSun";display:block;color:#757575;background:#f6f6f6;padding-left:36px;text-align:left;border:none;border-left:4px solid transparent;}
.members-tree li.mh50 a:hover, .members-tree li.mh50 a.curt{color:#ff6600;text-decoration:none;border-left:4px solid #ff6600;background-color:#FFF}
.top-1-R li.noNumber .snMenu a span {margin-right:0;}
/* ------------销售中心库币　2014-10-20 duhong-------------------*/
.position .snMenu a span{margin-right:15px}
.top-1-R li.snMenu{padding:0 6px!important}
.li_height.snMenu a b{margin:17px 0 0 18px;}
.snMenu a:hover{text-decoration:none}
.w162{width:161px !important}
.m-noxx{color:#666666;height:109px;line-height:109px}
.m-btn{text-align:center;margin:8px 0 4px}
.grayBtn{height:18px;background:url(../media/Images/jbBg.png) repeat-x;line-height:18px;font-size:12px;padding:0 10px;border:1px solid #999;color:#3c3c3c !important;display:inline-block;zoom:1;font-family:"SimSun"}
.grayBtn:hover{background:url(../media/Images/hvBg.png) repeat-x;text-decoration:none;color:#3c3c3c;}
.btn_fblue,.btn_fblue em,.btn_fblue:hover{color:#0088cc!important;}
.grayBtn.failure{border:1px solid #e6e6e6;background:#f8f8f8;color:#aaaaaa !important;cursor:default}
.grayBtn.failure:hover{background:#f8f8f8;color:#aaaaaa !important;}
.m-list{margin:0 6px;}
.m-list li{border-bottom:1px dashed #e6e6e6;width:100%;float:none;height:36px;padding:0;text-align:left;background:none}
.m-list li a{display:block;height:36px;line-height:36px;color:#666666;text-decoration:none;padding-left:32px;background:url(../media/Images/m-head-list.png) no-repeat left center;}
.m-list li a s{color:#ff6600;font-weight:bold;text-decoration:none}
.m-list li a:hover{color:#ff6600;text-decoration:underline;background:url(../media/Images/m-head-list-v.png) no-repeat left center;}
.m-btn .grayBtn{margin:0 5px}
.rightCont{position:relative}
.seller .gs_fr_top li a.ck_btn{margin-left:0;margin-right:10px;color:#FFF}
.seller .gs_fr_top li a.ck_btn:link, .seller .gs_fr_top li a.ck_btn:visited{color:#FFF}
.seller .gs_fr_top{margin-top:5px;margin-bottom:0 !important;+margin-bottom:8px!important;}
.seller .gs_fr_top li{margin-bottom:8px}
.k-coin{position:absolute;right:-21px;top:-21px;height:141px;width:209px;background:url(../media/Images/k-coin-bg.png) no-repeat left bottom;}
.k-coin-cont{height:129px;width:198px;border:1px solid #dfdfdf;margin-left:9px;background-color:#FFF}
.k-coin-bit{background-color:#ff8833;color:#FFF;text-align:center;height:54px; cursor:pointer}
/*.k-coin-bit h4{background-color:#ff8833;color:#FFF;font-size:20px;font-family:"Microsoft YaHei";padding:4px 0 2px}*/
.k-coin-bit h4 {/*background-color:#ff8833;*/color:#fff;cursor:pointer;font-family:"Microsoft YaHei";font-size:20px;line-height:26px;padding:4px 0 2px;}
.k-coin-bit p{line-height:54px;font-size:16px;font-family:"Microsoft YaHei";color:#FFF;}
.k-coin-value{height:44px;text-align:center}
.k-coin-value h4{line-height:44px;color:#3c3c3c;font-size:24px;font-family:"Microsoft YaHei";display:inline-block;+display:inline;+zoom:1;
_display:inline;_zoom:1;position:relative;}
.k-coin-value h4 s{font-size:12px;text-decoration:none;font-family:"SimSun";vertical-align: 2px;}
.k-coin-value h4 span{color:#ff6633;font-size:18px;line-height:34px;position:absolute;font-family:"Microsoft YaHei";bottom:6px;left:100%;display:block;}
/*20140430 change begin*/
.k-coin-btn-box{padding-left:6px}
.k-coin-btn-box .plr9{padding:0 9px}
/*20140430 change end*/
a.k-coin-btn{display:inline-block;height:20px;line-height:20px;padding:0 13px;vertical-align:middle;color:#ff6633;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border:1px solid #ff6633;margin:0 5px}
a.k-coin-btn:hover{color:#fff;background-color:#ff6633;text-decoration:none}
/*.set{color:#3c3c3c;font-size:12px;height:22px;line-height:22px;}*/
.w120{width:120px;}
.display-table{height:60px;line-height:60px;margin-bottom:-10px;width:450px}
/*---评分星星样式---*/
.pj-box{margin-bottom:6px;height:20px}
.pjtext{height:20px;line-height:20px}
.revinp{float:left;display:inline;}
.revgrade{margin-left:5px;height:20px;line-height:22px;color:#F60;display:inline-block}
.level_hollow_left, .level_entity_left{float:left;background-image:url("../media/Images/lanrentuku.png");background-repeat:no-repeat;display:inline-block;vertical-align:middle;width:16px;height:20px;margin-right:3px}
.level_hollow_left{background-position:0 2px;}
.level_entity_left{background-position:0 -50px;}
/********静态星星打分样式***********/
/*.showStartScore{}*/
/*-----------------select样式-------------------*/
.tzSelect{height:30px;+margin-bottom:0;
display:inline-block;+display:inline;
+zoom:1;background-color:#09F;position:relative;text-align:left;}
.tzSelect .selectBox{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;position:absolute;bottom:0;top:0;left:0;right:0;font-size:12px;line-height:28px;font-family:"SimSun";text-align:left;color:#333;cursor:pointer;border:1px solid #e6e6e6;background-color:#FFF;padding:0 16px 0 6px;background:#FFF url("../media/Images/select-bg.gif") no-repeat right center;}
/*.tzSelect .selectBox:hover,*/.tzSelect .selectBox.expanded{color:#3c3c3c;background:#FFF url("../media/Images/select-bg-h.gif") no-repeat right center;}
.tzSelect .dropDown{position:absolute;top:29px;left:0;right:0px;border:1px solid #e6e6e6;list-style:none;z-index:1000;background-color:#FFF;padding:5px 0}
.tzSelect li{background-color:#fff;word-break:break-all;line-height:120%;cursor:pointer;padding:3px 6px 4px;text-align:left;/*white-space:nowrap;line-height:26px;*/ font-size:12px;font-family:"SimSun";color:#999;}
/*.tzSelect li:nth-child(even){background-color:#f4f4f4;}*/
.tzSelect li:hover {/*background-color:#eaeaea;*/ color:#ff6600}
.w98{width:98px!important;}
.wauto{width:auto!important;padding:0 15px}
.hauto { height: auto!important }
.wautoa{width:auto!important;}
/*.Add-scroll{height:100px;overflow:auto;overflow-x:hidden}*/
.H-overF300 .tzSelect .dropDown{height:300px;overflow:auto;overflow-x:hidden}
/*select24 下拉框24高*/
.tzSelect24 .tzSelect{height:24px!important;}
.tzSelect24 .tzSelect .selectBox{line-height:22px!important;}
.tzSelect24 .tzSelect .dropDown{top:23px!important;}
.tzSelect24 .tzSelect li{padding:2px 6px!important;}
/*select24 下拉框28高　*/
.tzSelect26 .tzSelect{height:26px!important;}
.tzSelect26 .tzSelect .selectBox{line-height:24px!important;}
.tzSelect26 .tzSelect .dropDown{top:25px!important;}
.tzSelect26 .tzSelect li{padding:2px 6px!important;}

/*select30 下拉框30高　*/
.tzSelect30 .tzSelect{height:28px!important;}
.tzSelect30 .tzSelect .selectBox{line-height:26px!important;}
.tzSelect30 .tzSelect .dropDown{top:27px!important;}
.tzSelect30 .tzSelect li{padding:2px 6px!important;}

/*----------------销售中心 修改收货地址   2014.10.29liumei 20141029 start-------------------------------------------*/
.w580{width:580px;padding:0 10px 10px;margin-left:-300px;}
.w660{width:660px;padding:0 10px 10px;margin-left:-340px;}
.w80{width:80px}
.modify_table td{height:50px;position:relative;color:#3c3c3c;}
.text_s{height:28px;width:65px;color:#000;text-indent:0px;}
.red_s{color:#ff0000;margin-right:-9px;}
.pub_input{font-size:14px;width:120px;padding-right:1px;color:#3c3c3c}
.modify_table td span{color:#e6e6e6}
.gary-line{color:#e6e6e6;display:inline-block;background:url(../media/Images/gary-line.gif) no-repeat center center;height:1px;width:5px;margin:0 3px;vertical-align:middle}
.bor-green{border:1px solid #339933;}
.modify_table .bor-green:hover{border:1px solid #339933;}
/*----------------输入框揭示-------------------------------------------*/
.prompt{display:inline-block;color:#757575!important;height:20px;line-height:20px;padding-left:25px;font-size:12px;background:url(../media/Images/bdts.png) no-repeat 6px center;+background-position:6px 0;
vertical-align:middle}
.prompt i{color:#ff0000;margin:0 5px;font-size:14px;}
.perror{color:#ff0000!important;background:url(../media/Images/wrong.png) no-repeat 8px 4px;+background-position:8px 3px;}
.pright{color:#339933!important;background:url(../media/Images/biaod_right.png) no-repeat 8px 4px;+background-position:8px 3px;}
.inperror{border:1px solid #ff0000!important;}
.bor-green{border:1px solid #339933;}
/*----------------------- 优化 产品质量 shx 20140723-----------------------------*/
.wj_pos{position:relative;}
.proZl{position:fixed;right:16px;top:100px;background:#ffffff;border:1px solid #e5e5e5;width:170px;}
.proZl h3{height:32px;line-height:32px;text-align:center;background:#336699;margin:-1px;margin-bottom:0}
.proZl h3 span{background:url(../media/Images/h3bg.png) no-repeat center bottom;color:#fff;font-family:Microsoft Yahei;font-size:16px;width:140px;display:inline-block;}
.star{padding:8px 10px;text-align:center;background:#336699;margin:-1px;margin-bottom:0}
.star span{width:92px;background:url(../media/Images/xj.png) no-repeat left top;display:inline-block;height:15px;line-height:15px;vertical-align:middle;margin-right:12px;}
.star span.one{background-position:left -25px;}
.star span.second{background-position:left -50px;}
.star span.third{background-position:left -75px;}
.star span.four{background-position:left -100px;}
.star span.five{background-position:left -125px;}
.star span.six{background-position:left -150px;}
.star span.seven{background-position:left -175px;}
.star span.eight{background-position:left -200px;}
.star span.nine{background-position:left -225px;}
.star span.ten{background-position:left -250px;}
.star a{border:1px solid #194673;background-color:#225588;display:inline-block;height:16px;vertical-align:middle;cursor:pointer}
.star a s{display:inline-block;border-top:1px solid #336699;padding:0 5px 0 6px;border-left:1px solid #336699;color:#fff;text-decoration:none;height:15px;line-height:15px;+line-height:14px;
cursor:pointer}
.star a:hover{background-color:#1c4d7d;text-decoration:none}
.star a:hover s{color:#336699;border-top:1px solid #225588;border-left:1px solid #225588;}
.menu_head{border-top:1px solid #e6e6e6;height:34px;line-height:34px;text-align:center;font-family:Microsoft Yahei;font-size:14px;color:#3c3c3c;}
.btmTel{border-top:1px solid #e6e6e6;height:36px;line-height:36px;color:#fff;text-align:center;font-family:Microsoft Yahei;font-size:12px;background:#336699;margin:-1px;}
.youhuaP{/*background:url(../media/Images/xsj.gif) no-repeat 140px center;*/ cursor:pointer;background-color:#f8f8f8;}
.conFd{/*background:url(../media/Images/sxj.gif) no-repeat 140px center;*/}
.youhuaP span{color:#0066cc;margin-left:4px;}
.yh_pro{width:170px;display:none;}
.menu_body{display:none;border-top:1px solid #e6e6e6;}
.menu_body p{text-align:left;line-height:160%;color:#3c3c3c;width:150px;margin:0 auto;padding-bottom:4px;padding-top:6px;border-bottom:1px dashed #e6e6e6;}
.menu_body .fdMnBd{border-bottom:none;}
a.yhaa{color:#ff6600;margin-right:10px;display:inline-block}
a.yhaa:hover{color:#0066cc;}
/*.noneInfo{background:none;}*/
.liststar span{width:93px;background:url(../Images/star-bg.png) no-repeat left top;display:inline-block;height:16px;line-height:16px;vertical-align:middle;}
.liststar span.one{background-position:left -21px;}
.liststar span.second{background-position:left -42px;}
.liststar span.third{background-position:left -63px;}
.liststar span.four{background-position:left -84px;}
.liststar span.five{background-position:left -105px;}
.liststar span.six{background-position:left -126px;}
.liststar span.seven{background-position:left -147px;}
.liststar span.eight{background-position:left -168px;}
.liststar span.nine{background-position:left -189px;}
.liststar span.ten{background-position:left -210px;}
/*----------------------------------------- 意见反馈，返回头部 ---------------------------------------------*/
#gotop{z-index:100;overflow:visible;position:fixed;right:16px;bottom:52px;width:54px;display:none;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 40)||0)-(parseInt(this.currentStyle.marginTop, 0)||40)));
}
#back{background:url(../media/Images/btn-quick_backT.jpg) no-repeat top left!important;width:52px;height:52px;display:block;text-indent:-9999em;border:1px solid #e6e6e6;border-top:none;}
#back:hover{background:url(../media/Images/btn-quick_backT-h.jpg) no-repeat top left!important;}
.quick-backF{position:fixed;z-index:100;right:16px;bottom:105px;width:54px;}
.backF{background:url(../media/Images/btn-quick_backF.jpg) no-repeat top left;width:52px;height:52px;display:block;border:1px solid #e6e6e6;}
.backF:hover, .backFon{background:url(../media/Images/btn-quick_backF-h.jpg) no-repeat top left;}
/*----------------------------------------- 意见反馈 弹框--------------------------------------------*/
.adcDtl{background:#f8f8f8;color:#757575;border:1px solid #e6e6e6;padding:0 10px 20px 10px;width:300px;position:fixed;z-index:110000;right:-300px;bottom:105px}
.adcDtl h3{line-height:44px;color:#757575;font-family:Microsoft Yahei;font-size:16px;}
.adcDtl p{color:#757575;}
.oadcTxt{height:190px;width:278px;padding:10px;border:1px solid #e6e6e6;resize:none;overflow:hidden;}
.adcP{text-align:right;color:#3c3c3c;}
.adcP em{color:#ff6600;}
.adcIpt{height:28px;border:1px solid #e6e6e6;line-height:28px;width:228px;padding:0 5px;}
.tckCls{background:url(../media/Images/order_closebtn.png) no-repeat scroll left top;cursor:pointer;display:inline-block;float:right;height:21px;margin-top:0;width:21px;}
/*.tckCls:hover{background-position:left bottom;}*/
.disNo{display:none;}
/*----------营销商机设置 2014.11.04gaoyuejiao 20141103------------------*/
/*---------------------营销商机设置----主打--------------*/
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{background-image:url("../img/share/icons_0_16.png?v=d754dcc0.png");background-repeat:no-repeat;cursor:pointer;float:left;font-size:12px;height:20px;line-height:0;margin:0 6px -4px 2px;padding-left:17px;}
.yj_559{width:559px;}
/*.h60{height:60px}*/.w155{width:155px;}
.w534{width:534px}
.w304{width:304px!important}
.w89{width:89px!important}
.w124{width:124px!important}
.w83{width:83px!important;width:85px\9!important}
.w134{width:134px!important;width:136px\9!important}
.w417{width:417px}
.w166{width:166px}
.w116{width:116px!important}
.w165{width:165px!important;}
.w148{width:148px}
.w145{width:145px!important;}
.w102{width:102px!important;}
.w122{width:122px!important;}
.w99{ width:99px!important;}
.w174{width:174px!important;}
.w183{width:183px!important;}
.w380{width:380px!important;}
.w274{width:274px!important;}
.w124{width:124px!important;}
.w178{width:178px!important;}
.w171{width:159px!important;}
.w288{width: 288px!important;}
.w800{width: 800px!important;}
.w266{width:266px!important;}
.w255{width:255px!important;}
.w265{width:265px!important;}
.w225{width:225px!important;}
.w70{ width:70px!important;}
.w119{width:119px!important;}
.w139{width:139px!important;}
.w108{width:108px!important;}
.w293{width:293px!important;}
.w76{width: 76px!important;}
.w48{width:48px!important;}
.w25{width:25px!important;}
.w104{width:104px!important;}
.w109{width:109px!important;}
.w200{width: 200px!important;}
.w362{width: 362px!important;}
.w132{width: 132px!important;}
.w108{ width:108px!important;}
.w130{width:130px!important;}
.w368{width: 368px!important;}
.w157{width: 157px!important;}
.w147{width: 147px!important;}
.w436{width:436px!important;}
.w206{width: 206px!important;}
.w123{width: 123px!important;}
.w340{width: 340px!important;}
.w138{width: 138px!important;}
.w78{width: 78px!important;}
.w115{width: 115px!important;}
.w69{width: 69px!important;}
.w223{width: 223px!important;}
.w344{width: 344px!important;}
.w158{width: 158px!important;}
.w199{width: 199px!important;}
.w113{width:113px!important;}
.w110{width:110px!important;}
.w100{width:100px!important;}
.w160{width:160px!important;}
.w125{width:125px!important;}
.w260{width:260px!important;}
.w228{width: 228px!important;}
.w130{width:130px!important;}
.w121{width:121px!important;}
.w170{width:170px!important;}
.w155{width:155px!important;}
.w173{width:173px!important;}
.w241{width:241px!important;}
.w198{width:198px!important;}
.w213{width:213px!important;}
.w334{width:334px!important;}
.w329{width:329px!important;}
.w319{ width:319px!important;}
.w338{ width:338px!important;}
.w275{width: 275px!important;}
.w150{width: 150px!important;}
.w156{width: 156px!important;}
.w91{width: 91px!important;}
.w69{width: 69px!important;}
.w86{width: 86px!important;}
.w59{width: 59px!important;}
.w92{width: 92px!important;}
.w255{width: 255px!important;}
.w328{width: 328px!important;}
.w402{ width:402px !important;}
.w480{width: 480px!important;}
.w415{width: 415px!important;}
.w211{width: 211px!important;}
.w178{width: 178px!important;}
.w280{ width: 280px!important;}
.w114{ width: 114px!important;}
.w37{ width: 37px!important;}
.w107{ width: 107px!important;}
.w142{ width: 142px!important;}
.w192{ width: 192px!important;}
.w139{ width: 139px!important;}
.w204{ width: 204px!important;}
.w180{width: 180px!important;}
.w336{ width: 336px!important;}
.w195{ width: 195px!important;}
.w186{ width: 186px!important;}
.w103{ width: 103px!important;}


/*--add 10.14 wx--*/
.m_addp.mt10.pl10.clearfix .ml30{margin-left: 25px!important;}
.m_addp.mt10.pl10.clearfix .ml38{margin-left: 25px!important;}
.m_addp.mt10.pl10.clearfix .ml34{margin-left: 25px!important;}


.page-java{height:58px;padding-top:30px;}
.page-java ul{width:500px;margin:0 auto;height:25px;}
.page-java ul li{height:18px;float:left;font-size:12px;margin-right:10px;text-align:center;overflow:hidden;}
.page-java ul li a{height:16px;border:1px solid #dfdfdf;width:20px;display:block;overflow:hidden;text-align:center;line-height:16px;}
.page-java ul li a.onNext,.page-java ul li a.onPre{width:60px;text-align:center;}
.page-java ul li.onPage a{color:#fff;border:1px solid #444;background:#666;font-weight:600;}
.page-java ul li a:hover{color:#fff;border:1px solid #444;background:#666;font-weight:600;text-decoration:none;}
.page-java ul li.onPre a,.page-java ul li.onNext a{width:66px;}
