/* CSS Document */

.litit{height:30px;line-height:30px;text-align:left;font-weight:600;background:none !important;padding-left:0 !important}
.copyright_xian dl{width:720px;}
.copyright_xian dl dt{font-weight:600;font-size:14px;}
.copyright_xian dl dd{text-indent:24px;line-height:22px;margin:5px 0 10px 0;}
.privacyul{padding:10px 0;}
.privacyul li{widht:720px;height:25px;line-height:25px;overflow:hidden;}
.textLink p{height:25px;line-height:25px;background:#f1f1f1;font-size:14px;text-indent:10px;}
.textLink ul{padding:10px 0;}
.textLink ul li{float:left;padding:0 5px;height:25px;line-height:25px;margin-left:10px;display:inline; white-space:nowrap} 
.piclink p{height:25px;line-height:25px;background:#f1f1f1;font-size:14px;text-indent:10px;}
.piclink ul{padding:10px 0;}
.piclink  li{width:140px;height:50px;margin-left:15px;display:inline;}
.textLink2 ul{padding:0px 0 10px;height:100px}
.textLink2 ul li{width:600px;height:25px;line-height:25px;margin-left:10px;display:inline;}
.textLink2 h2{font-weight:600;margin-top:10px;}


.copyright_left{ width:207px; position:relative; *top:-4px;_top:-4px;}
.copyright_left_center{ background:url(../Images/Copyright/menu_bj.gif) repeat-x left top;}
.copyright_menu { width:203px; overflow:hidden;}
.copyright_left_title img{ height:10px; vertical-align:bottom;}
ul.copymenu li{ display:block; height:25px; line-height:25px; background:url(../Images/Copyright/menu_up.gif) no-repeat; margin-top:10px; padding-left:25px;}
ul.copymenu li a{}
ul.copymenu li.menudown{ background:url(../Images/Copyright/menu_down.gif) no-repeat;}
ul.copymenu li span{ margin-left:5px; color:#ccc; font-family:Arial, Helvetica, sans-serif;}
.copyright_right{ width:781px;background:#fff;}
.copyright_right_title{ background:url(../Images/Copyright/topmenu.gif) repeat-x left top; height:27px; line-height:27px; border:1px solid #ececec;}
.copyright_right_title h1{ background:url(../Images/Copyright/icon.gif) no-repeat  left center; padding-left:16px;font-size:14px; margin-top:5px; margin-left:10px; line-height:19px}
.copyright_xian{border:1px solid #ececec; }
.copyright_zi{ margin:25px 25px 50px; line-height:25px;}
.bj{ background: url(../Images/Copyright/bj.jpg) no-repeat; width:415px; height:217px; margin:0 auto; line-height:25px; padding:40px;}
ul.lyul{ width:500px; margin:40px auto;}
ul.lyul li{ margin:10px; vertical-align:top; display:block;}
ul.lyul li input,ul.lyul li textarea{ border:#C4C4C4 solid 1px;}
.t1{ width:300px; height:100px;}
ul.lyul li .an{ background:url(../Images/Copyright/an.png) no-repeat; width:77px; height:25px; border:none; text-align:center; margin-left:60px;}


/*.copy{ height:1000px}*/

.usanniu{ width:179px; height:59px; margin:20px 0px 0px 10px;}
.usanniu img{ width:179px; height:59px;}
.textLink{ padding:10px;}
.textLink ul li{ white-space:nowrap;float:left; margin-right:10px;}
.textLink p{ font-size:14px; font-weight:bold; margin:10px 0;}
.litit{height:30px;line-height:30px;text-align:left;font-weight:600;background:none !important;padding-left:0 !important}
.textLink h2{ font-size:14px; margin:5px 0;}
.textLink2 ul li{ float:left; margin-right:50px;}

.floatl{ float:left;}
.floatr{ float:right;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.mr30{ margin-right:30px;}
.mr20{ margin-right:20px;_margin-right:10px;}
.mb10{ margin-bottom:10px;}
.mb5{ margin-bottom:5px;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt15{ margin-top:15px;}
.mt30{ margin-top:30px;}
.ml30{ margin-left:30px;}
.m10{ margin:10px;}
.w245{ width:245px;}
.w243{ width:243px;}
.w693{ width:693px; overflow:hidden;}
.h303{ height:303px;}
.h340{ height:340px;}
.h350{ height:352px;}
.h370{ height:380px; overflow:hidden;}
.h320{ height:320px; overflow:hidden;}
.h410{ height:410px; overflow:hidden;}
.h208{ height:208px;}
.h200{ height:200px;*height:206px;_height:200px;}
.h324{ height:324px;*height:331px;_height:324px;}
.h327{ height:327px;}
.h448{ height:448px;}
.h657{ height:657px;}
.h1252{ height:1494px; overflow:hidden;}
.h1032{ height:1274px;}



















































































































